#category-filter {
  .left__side {
    .blue_link {
      color: #00bcd4;
    }
    .link-category {
      font-size: 1rem;
      margin-left: 10px;

    }
    .price-list {
      .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {

        border: 1px solid #c5c5c5;
        background: #fefefe;
        font-weight: normal;
        color: #454545;
        border-radius: 50%;

      }
      .ui-widget-header {
        border: 1px solid #dddddd;
        background: #041329;
        background-position-x: 0%;
        background-position-y: 0%;
        color: #333333;
        font-weight: bold;
      }
      .ui-slider .ui-slider-handle {

        position: absolute;
        z-index: 2;
        width: 1em;
        height: 1em;
        cursor: default;
        -ms-touch-action: none;
        touch-action: none;

      }
      .ui-slider-horizontal {

        height: 0.5em;

      }
    }
    .brand__filter {
      label {
        display: block !important;
      }
    }
  }

  .uk-open > .uk-accordion-title::before {

    background-image: url("http://i64.tinypic.com/35irpth.png");

  }
  .uk-accordion-title::before {

    content: "";
    width: 1.4em;
    height: 1.4em;
    margin-left: 10px;
    float: right;
    background-image: url("http://i67.tinypic.com/2pob4ts.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;

  }

  .uk-accordion-title {
    display: block;
    font-size: 1.25rem;
    line-height: 1.4;
    color: #333;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding: 5px 0 0;

  }
  .uk-accordion-content {
    margin-top: 0px;
    padding: 5px 0;
  }
  .Name__of__category {
    span {
      margin-left: 10px;
      color: #cccccc;
      font-size: 12px;
    }
  }
  .latest-section{
    justify-content: start;
    .card{
      width: 230px;
      margin-bottom:10px;
    }
  }


}