.pro-section{
  &_left{
    .color{
      color: #2868c9;
    }
    h3 {
      position: relative;
      //font-family: "Raleway", sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 45px;
      color: #3f4c5d;
      margin-bottom: 50px;
      &:before {
        content: "";
        position: absolute;
        width: 195px;
        height: 1px;
        bottom: -20px;
        left: 0;
        background-color: #2868c9;
      }
    }
    .text-content {
      margin-left: 125px;
      margin-top: 80px;
      li {
        display: flex;
        font-size: 18px;
        margin-bottom: 25px;
        span{
          color: #2868c9;
        }
        p {
          color: #3f4c5d;
          padding: 1px 0 0 56px;
        }
      }
    }
  }
  &_right{
    position: relative;
    margin-top: 130px;
    img{
      position: relative;
      width: 100%;
      z-index: 5;
    }
    &:before {
      content: "";
      position: absolute;
      top: -68px;
      right: -60px;
      width: 408px;
      height: 410px;
      background: url(../images/shap.png) no-repeat;
    }
  }
}