.header {
  position: relative;
  z-index: 999;
  color: #000;
  width: 100%;
  background: $primary-2;
  .top-header {
 
&_right{
  p span:first-child{
    color: $dred;
    padding-right:5px;

  }
  p span:last-child{
   font-size: 14px;
    margin-right:20px;

  }
}
  }


  .bottom-header {
    @media screen and (max-width: 575px) {
      padding: 10px 50px!important;
    }

    .logo{
      max-width: 150px;
      a{
        color:#333!important;
        font-size: 1rem;
        strong{
          color: $primary;
        }
      }
      @media screen and (max-width: 575px) {
        width: 150px;
        img{
      height: 100%;
        }
      }

    }
    .navigation ul li {
      position: relative;
      a.menu{
        color: #333;
        padding:10px;
        margin-left:10px;
        position: relative;
        transition: all .3s linear;
        font-weight: bold;
        white-space: nowrap;
        text-overflow:ellipsis;
        text-transform: capitalize;
        &:hover{
           color: $dred;

        }
        &.active{
          color: $dred;
          font-weight: bold;
        }
      }
      ul.sub-dropdown {
        box-shadow: 0 2px 7px $primary-2;
        padding: 0;
        width: 250px;
        background: #fff;
        > li  a{
          padding:10px;
          display: block;
          &:hover{
            background: $primary-2;
          }
        }
      }
    }

  }
}
.bg-gray{
  background: #555555;
}
.bg-black{
  background: #222;
}
.mobile-nav{
  background: darken($secondary,10%);
  ul.list-levels{
    padding-left: 10px;
  }
  li a{
    padding: 15px 20px;
    display: block;
    //border-bottom: 1px solid #cccc;
  }

}