//ipad pro
@media screen and (max-width: 1024px) {
  #header {
    .bottom-header {
      .bars {
        font-weight: bold;
        font-size: 18px;
        display: block !important;
        color: $primary;
        border: 1px solid $primary;
        padding: 5px 10px;
        //margin-top: -35px;
      }

      .navigation {
        display: none;
      }
    }
  }
  .company_list{
    .sticky.fixed {
      position: relative!important;

    }}
  #information{
    .nav.nav-tabs{
      overflow-x:scroll;
       overflow-y: hidden;
      a{
        font-size: 1rem!important;
        padding: 1rem!important;
        margin-right: .8rem!important;
      }
    }
  }
}


//medium size device
@media screen and (max-width: 991px) {

}

//tablet view css
@media screen and (max-width: 768px) {

}

//end of tablet view

@media screen and (max-width: 767px) {

  #top-banner {
    margin-top:0px;
    .slider-images {
      .caption h2 {
        font-size: 24px;

      }
    }

    .banner .owl-nav {
      display: none !important;
    }
  }
  .our_partner{
    &-list{

      figure {
        max-width: 150px!important;
      }
      .dummy{
        width: 150px!important;
      }
    }
  }
  #investment .quote-tile {
    border: 1px solid $primary-2!important;
    padding: 5px;
    box-shadow: 0px 2px 7px $primary-2;
    &-inner{
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      div{
        margin: 5px 0;
      }
    }
  }
  .social_icons{
    ul > li > a span:last-child{
      display: none;
    }
  }
}

//mobile screen css
@media screen and (max-width: 575px) {
  //header section
  .header .bottom-header .mobile-navigation {
    top: 64px;
  }
  //slider section
  #top-banner {
    .slider-images {
      .container {
        left: 0 !important;
        top: 23% !important;
      }

      .caption {
        padding: 0;
        h2 {
          font-size: 24px;

        }

        p {
          font-size: 14px;
        }

        a {
          font-size: 14px;
          margin-right: 10px;
          padding: 8px 15px;
        }
      }
    }
  }
  //our partner section
  .our_partner{
    &-list{

      figure, .dummy{
        max-width: 100px!important;
      }
    }
  }

  //my account side bar section
    .sidebar .sidebar-ul  {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
      padding-bottom: 20px;
      li{
        margin: 5px;
        border-bottom: 1px solid #dee2e6!important;
      }
      a  {
        padding: 10px!important;
        background-color: $primary-2;

        &:hover, &.active{
          border-left: none!important;
          border-bottom: 2px solid $secondary;
        }
        i{
          font-size: 1rem!important;
          margin-right: 0!important;
        }
        span{
          display: none;
        }
      }
    }

  //one step for checkout
  .one-step-checkout{
    .your-order  {
      .d-flex{
        flex-direction: column!important;
        figure{
          margin-bottom: 10px;
          border-bottom: 1px solid $primary-2;
        }
      }
      h3{
      font-size: 18px;
      font-weight: bold;
    }
    }
  }

  //companies list quotes
  .quote-tile {
    width: 47%;
    margin: 0 1%;
    text-align: center;
    &-inner{
      flex-wrap: wrap;
      flex-direction: column;
      .uk-checkbox{
        margin-left: 0!important;
      }
      .logo-image{
        border-bottom: 1px solid #dee2e6;
      }
      .br-1{
        position: static!important;
        padding: 5px!important;
      }
    }
  }
  .list-of-plans, .plan-detail{
    display: flex;
    flex-wrap: wrap;
  }
  //health insurance quote dots
  #get_quote .form_pagination ul li span.steps:after {
    width: 50px!important;
  }
//footer
  .footer {
    &_title {
      .heading h3 {
        font-size: 18px;
        padding-bottom: 5px !important;
      }
    }

    .social_icons {
      .heading h3 {
        font-size: 16px;

      }

      ul > li > a span:first-child {
        padding: 5px !important;
        border-radius: 50%;
        margin-right: 5px !important;
      }


    }
  }

}

//mobile xs screen css
@media screen and (max-width: 375px) {
  #top-banner {
    .slider-images {
      //height: 300px;
      .container {
        left: 0 !important;
        top: 15% !important;
      }

    }
  }
  //health insurance quote dots
  #get_quote .form_pagination ul li span.steps:after {
    width: 30px!important;
    left: -10%!important;
  }
}
//mobile
@media screen and (max-width: 319px){
  .quote-tile {
    width: 97%;}
}
