.property-list {

  &_filter {
    padding: 30px 10px;
    background: #fff;
    position: relative;
    z-index: 10;
    &--title {
      .heading h3 {
        background: $dred;
        padding: 10px 20px;
        color: #fff;
        display: inline-block;
      }
      position: absolute;
      top: -35px;

    }
    form .heading {
      font-size: 18px;
      text-transform: capitalize;
      padding: 10px 0;
      i {
        margin-right: 10px;
        color: $dred;
      }
    }
    .btn.btn-red {
      color: #fff;
      background: $dred;
    }

  }
  &_items {
    &--item {
      position: relative;
      color: white;
      overflow: hidden;
      height: 240px;
      a {
        color: white;
      }
      figure {
        height: 100%;
      }
      .property-img img {
        transition: all .5s ease;
        height: 100%;
      }

      .property-price {
        position: absolute;
        right: 0;
        top: 0;
        background: $dred;
        z-index: 2;
        h3 {
          color: white;
          padding: 5px 10px;
          font-size: 18px;
        }
      }
      .property_content {
        position: absolute;
        padding: 10px 20px 10px 10px;
        bottom: 0;
        z-index: 2;
        //.badge {
        //  color: white;
        //  margin-right: 10px;
        //}
        //.badge.sale {
        //  background: $dred;
        //}
        //.badge.featured {
        //  background: $l-orange;
        //}
        .property_text {
          padding: 10px 0;
          .title {
            font-weight: bold;

          }
          .location {
            font-size: 14px;
          }
        }
      }
      .overlay {
        top: 0;
        opacity: .6;
        z-index: 1;
      }
      &:hover .property-img img {
        transform: scale(1.2);
      }
    }
  }
}
.badge {
  color: white;
  margin-right: 10px;
}
.badge.sale {
  background: $dred;
}
.badge.featured {
  background: $l-orange;
}
.badge.rent{
  background: limegreen;
}
//property single page css/

.property-single {
  .property-image {
    height: 400px;
    overflow: hidden;

  }
  &_wrapper {
    position: relative;
    top: -100px;
    padding: 50px;
    background: #fff;
    z-index: 10;
    margin-bottom:-100px;
    .text-area{
     .title{
       font-size: 35px;
       border-bottom: 2px solid $dred;
       margin-bottom:20px;
     }
      .property_content .tag{
        padding: 20px 0px;

      }
    }
    .slider .slick-prev, .slider .slick-next {
      width: 28px;
      height: 28px;
      border-style: solid;
      margin: 10px;
      display: inline-block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      cursor: pointer;
    }

    .slider .slick-prev {

      left: 20px;
      right: auto;
      top: 50%;

      transform: translate(-50%, -50%);
    }
    .slider .slick-next {
      right: 0px;
      left: auto;
      top: 50%;

      transform: translate(-50%, -50%);

    }

    .slider .slick-prev.slick-disabled, .slider .slick-next.slick-disabled, .slider .slick-prev.slick-disabled:hover, .slider .slick-next.slick-disabled:hover {
      opacity: 0.1;
      cursor: default;
      border-color: transparent #000000;
    }
    .image_gallery-img-content div {
      max-height: 280px;
      text-align: center;
      font-size: 75px;
      color: #ffffff;
      background: #ffffff;
      @media screen and (max-width: 767px){
        height: 200px;

      }
      @media screen and (max-width: 426px){
        height: 150px;

      }

    }
    .slider-thumb div {
      height: 100px;
      line-height: 50px;
      font-size: 25px;
      border-top: 2px solid #ffffff;
      border-right: 1px solid #ffffff;
      background: #ffffff;
      img {
        height: 100%;
      }
      @media screen and (max-width: 767px){
        height: 70px;

      }
      @media screen and (max-width: 426px){
        height: 50px;

      }
    }
.text-area_details{
text-align: justify;
  margin: 50px auto;
}
    .related-property{
      margin:50px auto;
      &_title{

        h3{
          font-weight:bold;
        }
      }
    }

  }
}

