.recent-news{

    &_title {
      text-align: center;
      width: 100%;
      padding-bottom: 30px;
      .heading h1 {
        font-size: 34px;
        position: relative;
        display:inline-block;
        :after {
          content: "";
          position: absolute;
          width: 75px;
          height: 2px;
          bottom: 0px;
          left: 0;
          background-color:$dred;
        }
      }
    }
    &_cards{
      &--item {
        box-shadow: 0 1px 15.36px 0.64px rgba(0,0,0,.2);
        margin-bottom:10px;

        &:hover figure img{
          transform: scale(1.2);
        }
        figure{
         height:215px;
          overflow: hidden;
img {
  transition: all .5s linear;
}

        }
        .card-body {
          padding-top:5px!important;
          .card-title{
            font-weight: bold;
            max-height: 66px;
            height: 66px;
          }
          .btn-red{
            color: $dred;
            font-weight: bold;

          }
          .text-muted{
            font-size: 12px;
          }
        }
      }

    }


}