.our_team_area{
    background: #fefefe;
    background-image: url('../images/bg-1.jpg');
    padding-top:30px;
    position: relative;

    .tittle {
        h2,p{
            color: #fff;
        }

        
    }
    .team_row{
        padding-top: 70px;
        .team_membar{
            max-height: 378px;
            min-height:200px;
            display: block;
            overflow: hidden;
            position: relative;
            margin-bottom: 30px;
            img{
                max-width: 100%; 
            }
            .team_content{
                background: rgba(0,0,0,.6);
                text-align: center;
                padding-top: 20px;
                padding-bottom: 30px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                display: block;
                ul{
                    padding: 0;
                    margin: 0;
                    height: 0px;
                    transition: height .5s ease;
                    overflow: hidden;
                    //@include transition;
                    li{
                        list-style: none;
                        padding-left: 20px;
                        display: inline-block;
                        &:first-child{
                            padding: 0;
                        } 
                        a{
                            font-size: 14px;
                            color: #fff;
                            line-height: 43px;
                            width: 45px;
                            text-align: center;
                            border-radius: 50%;
                            border: 1px solid #fff;
                            display: block; 
                            &:hover, &:focus{
                                color: $dred;
                                background: #fff;
                            }
                            @media screen and (max-width:768px){
                                line-height: 18px;
                                width: 20px;
                                border:none;
                                border-radius: 0;

                            }
                        }
                    }
                } 
                .name{

                    color: #fff;
                    display: block;
                    text-transform: uppercase;
                    padding-top: 10px;
                }
                h6{

                    color: #fff;
                    padding-top: 5px;
                }
            }
            &:hover, &:focus{
                .team_content{
                    ul{
                        height: 50px;
                    }
                }
            }
        }
    }
}