<div class="slider-tour-booking searchpage_bookings">
    <div class="containers">
        <div class="travel-booking-search">
            <form id="tourBookingForm">
                <ul class="form-table d-flex">
                    <li class="form-field">
                        <label class="uk-form-label form-label" for="flying-from">Destination</label>
                        <div class="uk-form-controls">
                            <select class="uk-select">
                                <option>Option 01</option>
                                <option>Option 02</option>
                            </select>
                        </div>
                    </li>
                    <li class="form-field">
                        <label class="uk-form-label form-label" for="flying-from">Activities</label>
                        <div class="uk-form-controls">
                            <select class="uk-select">
                                <option>Option 01</option>
                                <option>Option 02</option>
                            </select>
                        </div>
                    </li>

                    <li class="form-field">
                        <label class="uk-form-label form-label" for="depart-date">Depart date</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="depart-date" type="text" placeholder="From city or airport">
                        </div>
                    </li>
                    <li class="submit">
                        <button type="submit" class="uk-button">Search</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>