
<!-- About Us Area -->
<section class="about_us_area ">
    <div class="container bg-white">
        <div class="center">
            <div class="heading">
                <h1>
                    About Hulak logistic
                </h1>
            </div>
        </div>
        <div class="row  mt-3">
            <div class="col-sm-4 col-12">
                <figure><img src="images/about-1.png" alt=""></figure>
            </div>
            <div class="col-sm-8 col-12">
                <div class="details">
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum ex iure pariatur provident quisquam rem! Distinctio, similique sunt. Qui.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum ex iure pariatur provident quisquam rem! Distinctio, similique sunt. Qui.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum ex iure pariatur provident quisquam rem! Distinctio, similique sunt. Qui.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum ex iure pariatur provident quisquam rem! Distinctio, similique sunt. Qui.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum ex iure pariatur provident quisquam rem! Distinctio, similique sunt. Qui.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum ex iure pariatur provident quisquam rem! Distinctio, similique sunt. Qui.</p>

                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- End About Us Area -->


