<section class="advantage py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-block d-none col-12 left-side pt-5">
                <figure>
                    <img src="images/idea.svg" alt="">
                </figure>
            </div>
            <div class="col-lg-6 col-sm-12 col-12 right-side">
                <div class="heading mb-5">
                    <h2 class="font-weight-bold">Insurance made simpler and faster
                        </h2>
                        <h4 class="font-weight-bold text-muted">All insurance solutions in one place</h4>
                </div>
                <div class="row ">
                    <div class="col-12 col-sm-6 mb-4 ">
                        <div class="d-flex align-items-center">
                            <figure>
                                <i class="icofont-opposite"></i>
                            </figure>
                            <div>
                                <h4 class="font-weight-bold">
                                    Compare 250+ plans


                                </h4>
                                <p class="text-muted">
                                    To save upto 30%
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6  mb-4">
                        <div class="d-flex align-items-center">
                            <figure>
                                <i class="icofont-live-support"></i>
                            </figure>
                            <div>
                                <h4 class="font-weight-bold">
                                    Always at your service

                                </h4>
                                <p class="text-muted">
                                    +9************
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6  mb-4">
                        <div class="d-flex align-items-center">
                            <figure>
                                <i class="icofont-chart-line"></i>
                            </figure>
                            <div>
                                <h4 class="font-weight-bold">
                                    Over 10L crore


                                </h4>
                                <p class="text-muted">
                                    Cover provided
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6  mb-4">
                        <div class="d-flex align-items-center">
                            <figure>
                                <i class="icofont-thumbs-up"></i>
                            </figure>
                            <div>
                                <h4 class="font-weight-bold">
                                    Cancellation support


                                </h4>
                                <p class="text-muted">
                                    Full support for cancellations and endorsements
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6  mb-4">
                        <div class="d-flex align-items-center">
                            <figure>
                                <i class="icofont-people"></i>
                            </figure>
                            <div>
                                <h4 class="font-weight-bold">
                                    7035 PeopleLive


                                </h4>
                                <p class="text-muted">
                                    Currently comparing online
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6  mb-4">
                        <div class="d-flex align-items-center">
                            <figure>
                                <i class="icofont-award"></i>
                            </figure>
                            <div>
                                <h4 class="font-weight-bold">
                                    50+ awards


                                </h4>
                                <p class="text-muted">
                                    Winning hearts for your financial protection
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6  mb-4">
                        <div class="d-flex align-items-center">
                            <figure>
                                <i class="icofont-live-support"></i>
                            </figure>
                            <div>
                                <h4 class="font-weight-bold">
                                    Always at your service

                                </h4>
                                <p class="text-muted">
                                    +9************
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>