<section class="mb free-ads">
    <div class="container-fluid">
        <div class="row d-flex flex-nowrap">
            <div class=""><a href=""><img src="images/b1.png" alt=""></a></div>
           <div class=""><a href=""><img src="images/b2.png" alt=""></a></div>
            <div class=""><a href=""><img src="images/b1.png" alt=""></a></div>

        </div>
    </div>
</section>

{#<section class="three-columns mb">#}

    {#<div class="container-fluid">#}
        {#<div class="row col-three owl-carousel">#}
            {#<div class="column">#}
                {#<a href=""><img src="https://www.raramart.com/assets/uploads/titan-watch.jpg" alt=""></a>#}
            {#</div>#}
            {#<div class="column">#}
                {#<a href=""><img src="https://www.raramart.com/assets/uploads/32.png" alt=""></a>#}
            {#</div>#}

            {#<div class="column">#}
                {#<a href=""><img src="https://thulo.com/images/promo/119/samsung.jpg" alt=""></a>#}
            {#</div>#}
            {#<div class="column">#}
                {#<a href=""><img src="https://www.raramart.com/assets/uploads/banners-01.jpg" alt=""></a>#}
            {#</div>#}

        {#</div>#}
    {#</div>#}
{#</section>#}