<section class="recent-news py-4">
    <div class="recent-news_wrapper container">
        <div class="row">
            <div class="recent-news_title">
                <div class="heading">
                    <h1>Blogs <strong> Post</strong></h1>
                </div>
                <div class="recent-new_title--details py-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eos explicabo fuga hic in labore
                    molestiae natus, nostrum quibusdam rerum?
                </div>
            </div>

        </div>

        <div class="row ">
            <div class="recent-news_cards col-md-9">
                <div class="row justify-content-center">
                    <div class="f-width">
                        <div class=" recent-news_cards--item card  ">
                            <figure class="card-img-top">
                                <img src="images/news-1.jpg" alt="Card image cap">
                            </figure>
                            <div class="card-body">
                                <div class="badges d-flex line-clamp">
                                    <div class="badge badge-danger my-3 ">Design</div>
                                </div>
                                <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit.
                                    Architecto facere praesentium quis?</h5>
                                {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                                {#the card's content.</p>#}
                                <div class="d-flex justify-content-between pt-2">
                                    <a href="blogpage.html" class="btn-red">Go somewhere</a>
                                    <span class="text-muted">2019/6/24</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="f-width">
                        <div class=" recent-news_cards--item card ">
                            <figure class="card-img-top"><img src="images/news-1.png" alt="Card image cap">
                            </figure>
                            <div class="card-body">
                                <div class="badges d-flex line-clamp">
                                    <div class="badge badge-danger my-3 ">education</div>
                                    <div class="badge badge-danger my-3 ml-2  ">consultancy</div>
                                </div>
                                <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit.
                                    Enim?</h5>
                                {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                                {#the card's content.</p>#}
                                <div class="d-flex justify-content-between pt-2">
                                    <a href="blogpage.html" class="btn-red">Go somewhere</a>
                                    <span class="text-muted">2019/6/24</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="f-width">
                        <div class=" recent-news_cards--item card ">
                            <figure class="card-img-top"><img src="images/news-2.jpg" alt="Card image cap">
                            </figure>
                            <div class="card-body">
                                <div class="badges d-flex line-clamp">
                                    <div class="badge badge-danger my-3 ml-2 ">Business</div>
                                </div>
                                <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit.
                                    Cupiditate, necessitatibus?</h5>
                                {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                                {#the card's content.</p>#}

                                <div class="d-flex justify-content-between pt-2">
                                    <a href="blogpage.html" class="btn-red">Go somewhere</a>
                                    <span class="text-muted">2019/6/24</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="f-width">
                        <div class=" recent-news_cards--item card ">
                            <figure class="card-img-top"><img src="images/news-3.jpg" alt="Card image cap">
                            </figure>
                            <div class="card-body">
                                <div class="badges d-flex line-clamp">
                                    <div class="badge badge-danger my-3 ml-2 ">Constrction</div>
                                </div>

                                <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.
                                    Blanditiis labore laudantium sapiente!</h5>
                                {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                                {#the card's content.</p>#}

                                <div class="d-flex justify-content-between pt-2">
                                    <a href="blogpage.html" class="btn-red">Go somewhere</a>
                                    <span class="text-muted">2019/6/24</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="f-width">
                        <div class=" recent-news_cards--item card ">
                            <figure class="card-img-top"><img src="images/news-1.png" alt="Card image cap">
                            </figure>
                            <div class="card-body">
                                <div class="badges d-flex line-clamp">
                                    <div class="badge badge-danger my-3 ">education</div>
                                    <div class="badge badge-danger my-3 ml-2  ">consultancy</div>
                                </div>
                                <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.
                                    Enim?</h5>
                                {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                                {#the card's content.</p>#}
                                <div class="d-flex justify-content-between pt-2">
                                    <a href="blogpage.html" class="btn-red">Go somewhere</a>
                                    <span class="text-muted">2019/6/24</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="f-width">
                        <div class=" recent-news_cards--item card ">
                            <figure class="card-img-top"><img src="images/news-2.jpg" alt="Card image cap">
                            </figure>
                            <div class="card-body">
                                <div class="badges d-flex line-clamp">
                                    <div class="badge badge-danger my-3 ml-2 ">Business</div>
                                </div>
                                <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.
                                    Cupiditate, necessitatibus?</h5>
                                {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                                {#the card's content.</p>#}

                                <div class="d-flex justify-content-between pt-2">
                                    <a href="blogpage.html" class="btn-red">Go somewhere</a>
                                    <span class="text-muted">2019/6/24</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 blog-page bg-white">
                <div class="widget-sidebar">
                    <div class="search-blog">
                        <div class="pt-5">
                            <form class="uk-search  d-flex" style="width: 100%;border: 1px solid #ccc;padding: 0 5px;">
                                <input class="uk-search-input" type="search" placeholder="Search...">
                                <button class="btn " style="background: none; outline: none"><i
                                            class="icofont-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="widget-sidebar ">
                    <h2 class="title-widget-sidebar">LATEST <strong>POST</strong></h2>
                    <div class="content-widget-sidebar">
                        <ul class="remove-hr">
                            <li class="recent-post">
                                <div class="post-img">
                                    <img src="images/construction-1.jpg" class="img-responsive">
                                </div>
                                <div class="line-clamp2">
                                    <a href="#"><h5 style="font-size: 1em !important;">Lorem ipsum dolor sit amet.</h5>
                                    </a>
                                    <p><i class="icofont-ui-calendar mr-2"></i>june 20 2019</p>
                                </div>
                            </li>
                            <hr>
                            <li class="recent-post">
                                <div class="post-img">
                                    <img src="images/construction-2.jpg" class="img-responsive">
                                </div>
                                <div class="line-clamp2">
                                    <a href="#"><h5 style="font-size: 1em !important;">Lorem ipsum dolor sit amet.</h5>
                                    </a>
                                    <p><i class="icofont-ui-calendar mr-2"></i>june 20 2019</p>
                                </div>
                            </li>
                            <hr>
                            <li class="recent-post">
                                <div class="post-img">
                                    <img src="images/construction-1.jpg" class="img-responsive">
                                </div>
                                <div class="line-clamp2">
                                    <a href=""><h5 style="font-size: 1em !important;">Lorem ipsum dolor sit amet,
                                            consectetur.</h5></a>
                                    <p><i class="icofont-ui-calendar mr-2"></i>june 20 2019</p>
                                </div>
                            </li>
                            <hr>
                            <li class="recent-post">
                                <div class="post-img">
                                    <img src="images/construction-1.jpg" class="img-responsive">
                                </div>
                                <div class="line-clamp2">
                                    <a href=""><h5 style="font-size: 1em !important;">Lorem ipsum dolor sit amet.</h5>
                                    </a>
                                    <p><i class="icofont-ui-calendar mr-2"></i>june 20 2019</p>
                                </div>
                            </li>
                            <hr>
                        </ul>
                    </div>
                </div>
                <div class="widget-sidebar">
                    <h2 class="title-widget-sidebar">Popular <strong>Tags</strong></h2>
                    <ul class="sidebar-tag">
                        <li><a href="#">Renovation</a></li>
                        <li><a href="#">Architecture</a></li>
                        <li><a href="#">Concrete</a></li>
                        <li><a href="#">Flooring</a></li>
                        <li><a href="#">Consulting</a></li>
                        <li><a href="#">Interior</a></li>
                        <li><a href="#">Planning</a></li>
                    </ul>
                </div>
            </div>


            <div class="my-3 center">
                {% include 'pagination.njk' %}
            </div>


        </div>
    </div>
</section>