<!-- Banner area -->
<section id="breadcrumb">
    <div class="container py-3 border-bottom ">
    <ul class="uk-breadcrumb">
        <li><a href="#">Item</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-disabled"><a>Disabled</a></li>
        <li><span>Active</span></li>
    </ul>
    </div>
</section>
<!-- End Banner area -->