<section id="collection-details" class="py-5 border-top">
    <div class="container py-3 ">
        <div class="row align-items-center">
            <!-- left section -->
            <div class="col-md-5 d-md-block d-none">
                <!-- image in the left section -->
                <figure><img src="images/details.svg" alt=""></figure>
            </div>
            <!-- right section of the details -->
            <div class="col-md-7">
                <!-- select your city -->
                <fieldset>
                    <div class="heading d-flex justify-content-between align-items-center">
                      <div>
                          <!-- dummy div to prevent design spacing -->
                      </div>
                        <h3 class="font-weight-bold">
                            Select City
                        </h3>
                        <div class=" next">
                            <a class="next-button display-4">
                                <i class="icofont-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <hr>

                    <div class="search-city border ">
                        <div class="uk-navbar-item">
                            <form class="uk-search uk-search-default w-100 light-bg">
                                <a href="" uk-search-icon></a>
                                <input class="uk-search-input" type="search" placeholder="Search...">
                            </form>
                        </div>
                    </div>
                    <div class="select-city-section">

                        <div class="select-city">
                            <div class="city-name ">
                                <p>lalitpur</p>
                            </div>
                            <div class="city-name">
                                <p>bhaktapur</p>
                            </div>
                            <div class="city-name">
                                <p>kathmandu</p>
                            </div>
                            <div class="city-name">
                                <p>butwal</p>
                            </div>
                            <div class="city-name">
                                <p>dhangadi</p>
                            </div>
                            <div class="city-name">
                                <p>dharan</p>
                            </div>
                            <div class="city-name">
                                <p>pokhara</p>
                            </div>
                            <div class="city-name">
                                <p>lalitpur</p>
                            </div>
                            <div class="city-name">
                                <p>lalitpur</p>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">

                            <div class="dummy">
                                <!-- dummy div to manage spacing -->
                            </div>
                        <button class="button-primary next">
                            Next
                        </button>

                    </div>
                </fieldset>
                <!-- end -->
                <!-- select your car manufacturer -->
                <fieldset style="display: none">
                    <div class="heading d-flex justify-content-between align-items-center">
                        <div class="back">
                            <a class="back-button display-4">
                                <i class="icofont-long-arrow-left"></i>
                            </a>
                        </div>
                        <h3 class="font-weight-bold">
                            Select Car manufacture
                        </h3>
                        <div class=" next">
                            <a class="next-button display-4">
                                <i class="icofont-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="search-car border">
                        <div class="uk-navbar-item">
                            <form class="uk-search uk-search-default w-100 light-bg">
                                <a href="" uk-search-icon></a>
                                <input class="uk-search-input" type="search" placeholder="Search...">
                            </form>
                        </div>
                    </div>
                    <div class="select-car-section d-flex flex-wrap align-items-center justify-content-around">

                        <div class="brand">
                            <figure><img src="images/bmw.jpg" alt=""></figure>
                        </div>
                        <div class="brand">
                            <figure><img src="images/honda.jpg" alt=""></figure>
                        </div>
                        <div class="brand">
                            <figure><img src="images/hundai.jpg" alt=""></figure>
                        </div>
                        <div class="brand">
                            <figure><img src="images/volkswagen.jpg" alt=""></figure>
                        </div>
                        <div class="dummy">
                            <!-- dummy div for managing the spacing -->
                        </div>
                        <div class="dummy">
                            <!-- dummy div for managing the spacing -->
                        </div>
                        <div class="dummy">
                            <!-- dummy div for managing the spacing -->
                        </div>
                        <div class="dummy">
                            <!-- dummy div for managing the spacing -->
                        </div>

                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">

                        <button class="button-primary back">
                            Back
                        </button>
                        <button class="button-primary next">
                            Next
                        </button>

                    </div>
                </fieldset>
                <!-- end -->
                <!-- select your  car model-->
                <fieldset style="display: none">
                    <div class="heading d-flex justify-content-between align-items-center">
                        <div class="back">
                            <a class="back-button display-4">
                                <i class="icofont-long-arrow-left"></i>
                            </a>
                        </div>
                        <h3 class="font-weight-bold">
                            Select A Car Model
                        </h3>
                        <div class=" next">
                            <a class="next-button display-4">
                                <i class="icofont-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="search-city border">
                        <div class="uk-navbar-item">
                            <form class="uk-search uk-search-default w-100 light-bg">
                                <a href="" uk-search-icon></a>
                                <input class="uk-search-input" type="search" placeholder="Search...">
                            </form>
                        </div>
                    </div>
                    <div class="select-car-model-section">

                        <div class="select-car-model">
                            <div class="car-model ">
                                <p>lalitpur</p>
                            </div>
                            <div class="car-model">
                                <p>bhaktapur</p>
                            </div>
                            <div class="car-model">
                                <p>kathmandu</p>
                            </div>
                            <div class="car-model">
                                <p>butwal</p>
                            </div>
                            <div class="car-model">
                                <p>dhangadi</p>
                            </div>
                            <div class="car-model">
                                <p>dharan</p>
                            </div>
                            <div class="car-model">
                                <p>pokhara</p>
                            </div>
                            <div class="car-model">
                                <p>lalitpur</p>
                            </div>
                            <div class="car-model">
                                <p>lalitpur</p>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">

                        <button class="button-primary back">
                            Back
                        </button>
                        <button class="button-primary next">
                            Next
                        </button>

                    </div>
                </fieldset>
                <!-- end -->
                <!-- select your car fuel type -->
                <fieldset style="display: none">
                    <div class="heading d-flex justify-content-between align-items-center">
                        <div class="back">
                            <a class="back-button display-4">
                                <i class="icofont-long-arrow-left"></i>
                            </a>
                        </div>
                        <h3 class="font-weight-bold">
                            Select A Car Fuel Type
                        </h3>
                        <div class=" next">
                            <a class="next-button display-4">
                                <i class="icofont-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="select-car-fuel-section">

                        <div class="select-car-fuel">
                            <div class="car-fuel-type d-block  text-center light-bg mx-auto  ">
                                <p>petrol</p>
                            </div>
                            <div class="car-fuel-type d-block  text-center light-bg mx-auto ">
                                <p>desiel</p>
                            </div>
                            <div class="car-fuel-type d-block  text-center light-bg mx-auto ">
                                <p>battry</p>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">

                        <button class="button-primary back">
                            Back
                        </button>
                        <button class="button-primary next">
                            Next
                        </button>

                    </div>
                </fieldset>
                <!-- end -->
                <!-- select your car variant -->
                <fieldset style="display: none">
                    <div class="heading d-flex justify-content-between align-items-center">
                        <div class="back">
                            <a class="back-button display-4">
                                <i class="icofont-long-arrow-left"></i>
                            </a>
                        </div>
                        <h3 class="font-weight-bold">
                            Select A Car Variant
                        </h3>
                        <div class=" next">
                            <a class="next-button display-4">
                                <i class="icofont-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="select-car-variant-section">

                        <div class="select-car-variant">
                            <div class="car-variant d-block  text-center light-bg mx-auto  ">
                                <p>3999 cc</p>
                            </div>
                            <div class="car-variant d-block  text-center light-bg mx-auto ">
                                <p>2999 cc</p>
                            </div>
                            <div class="car-variant d-block  text-center light-bg mx-auto ">
                                <p>1999 cc</p>
                            </div>
                            <div class="car-variant d-block  text-center light-bg mx-auto ">
                                <p>999 cc</p>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">

                        <button class="button-primary back">
                            Back
                        </button>
                        <button class="button-primary next">
                            Next
                        </button>

                    </div>
                </fieldset>
                <!-- end -->
                <!-- select your car registration year -->
                <fieldset style="display: none">
                    <div class="heading d-flex justify-content-between align-items-center">
                        <div class="back">
                            <a class="back-button display-4">
                                <i class="icofont-long-arrow-left"></i>
                            </a>
                        </div>
                        <h3 class="font-weight-bold">
                            Select A Car Registration Year
                        </h3>
                        <div class=" next">
                            <a class="next-button display-4">
                                <i class="icofont-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="select-car-year-section">

                        <div class="select-car-year">
                            <div class="car-year ">
                                <p>1990</p>
                            </div>
                            <div class="car-year">
                                <p>1995</p>
                            </div>
                            <div class="car-year">
                                <p>1999</p>
                            </div>
                            <div class="car-year">
                                <p>2000</p>
                            </div>
                            <div class="car-year">
                                <p>2015</p>
                            </div>
                            <div class="car-year">
                                <p>2013</p>
                            </div>
                            <div class="car-year">
                                <p>2005</p>
                            </div>
                            <div class="car-year">
                                <p>2007</p>
                            </div>
                            <div class="car-year">
                                <p>2012</p>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">

                        <button class="button-primary back">
                            Back
                        </button>
                        <button class="button-primary next">
                            Next
                        </button>

                    </div>
                </fieldset>
                <!-- end -->
                <!-- fill user details -->
                <fieldset style="display: none">
                    <div class="heading d-flex justify-content-between align-items-center">
                        <div class="back">
                            <a class="back-button display-4">
                                <i class="icofont-long-arrow-left"></i>
                            </a>
                        </div>
                        <h3 class="font-weight-bold">
                            Fill Your Details
                        </h3>
                        <div>
                            <!-- blank div for manage the space -->
                        </div>

                    </div>
                    <hr>
                    <div class="fill-details">
                        <form class="uk-form-stacked">

                            <div class="uk-margin">
                                <label class="uk-form-label font-weight-bold" for="full-name">Full Name</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="full-name" type="text" placeholder=" Full Name...">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label font-weight-bold" for="E-mail">E-mail</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="E-mail" type="email" placeholder=" Email Address...">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label font-weight-bold" for="mobile-number">Mobile Number</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="mobile-number" type="number" placeholder=" Mobile numbers...">
                                </div>
                            </div>



                        </form>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-center ">

                        <a href="companies.html" type="button " class="button-primary">
                            Continue
                        </a>

                    </div>
                    <div class="d-flex align-items-center justify-content-center mt-3">
                        By clicking on "Continue", you agree to our
                        <a href=""  class="text-primary font-weight-bold mx-1"> Privacy Policy </a>
                        & <a href=""  class="text-primary font-weight-bold mx-1">Terms of Use</a>

                    </div>
                </fieldset>
                <!-- end -->
            </div>
        </div>
    </div>
</section>