<section class="faqpage-container mt-2 mb">
    <div class="container">

        <div class="" id="accordion">
            <div class="card ">
                <div class="card-header">
                    <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse1" class=" expand">
                        <div class="right-arrow float-right">+</div>
                        <a href="#">How to add product in a cart?</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse2" class=" expand">
                        <div class="right-arrow float-right">+</div>
                        <a href="#">Where to find my wishlist?</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse3" class=" expand">
                        <div class="right-arrow float-right">+</div>
                        <a href="#">How to follow ?</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
            </div>
        </div>
    </div>
</section>