<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 ">
                <div class="footer_title">
                        <h3>General Insurance</h3>
                </div>
                <div class="footer_list">
                    <ul>
                       <li class="footer_list--item"><a href="">Car Insurance</a></li>
                       <li class="footer_list--item"><a href="">Health Insurance</a></li>
                       <li class="footer_list--item"><a href="">Travel Insurance</a></li>
                       <li class="footer_list--item"><a href="">Two-Wheeler Insurance</a></li>
                       <li class="footer_list--item"><a href="">Third Party Car Insurance</a></li>
                       <li class="footer_list--item"><a href="">Motor Insurance</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="footer_title">
                    <div class="heading">
                        <h3>Life Insurance</h3>
                    </div>
                </div>
                <div class="footer_list">
                    <ul>
                        <li class="footer_list--item"><a href="/">Term Insurance</a></li>
                        <li class="footer_list--item"><a href="/">Spouse Term Plan</a></li>
                        <li class="footer_list--item"><a href="/">Return of Premium</a></li>
                    </ul>
                </div>
            </div>
            <div class=" col-md-3 col-sm-6">
                <div class="footer_title">
                    <div class="heading">
                        <h3>Investments</h3>
                    </div>
                </div>
                <div class="footer_list">
                    <ul>
                        <li class="footer_list--item"><a href="/">Investment Plans</a></li>
                        <li class="footer_list--item"><a href="/">Child Plans</a></li>
                        <li class="footer_list--item"><a href="/">Pension Plans</a></li>
                        <li class="footer_list--item"><a href="">ULIPs</a></li>
                        <li class="footer_list--item"><a href="/">Money Back Policy</a></li>
                        <li class="footer_list--item"><a href="/">Endowment Policy</a></li>
                        <li class="footer_list--item"><a href="/">Guaranteed Return Plans</a></li>
                        <li class="footer_list--item"><a href="/">Tax Saving Plans</a></li>
                    </ul>
                </div>
            </div>
            <div class=" col-md-3 col-sm-6">
                <div class="footer_title">
                    <div class="heading">
                        <h3>Department</h3>
                    </div>
                </div>
                <div class="footer_list">
                    <ul>
                         <li class="footer_list--item"><a href="">Group Mediclaim</a></li>
                         <li class="footer_list--item"><a href="">Corporate Insurance</a></li>
                         <li class="footer_list--item"><a href="">Cancer Insurance</a></li>
                         <li class="footer_list--item"><a href="">Home Insurance</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="social_icons">
            <ul class="d-flex align-items-center justify-content-between ">
                <li><div class="heading">
                        <h3>Follow Us</h3>
                    </div>
                </li>

                <li class=" "><a href=""> <span   uk-icon="facebook" class="facebook"></span><span>facebook</span> </a></li>
               <li class=" "><a href=""> <span   uk-icon="google-plus" class="google-plus"></span><span>google plus</span></a></li>
               <li class=" "><a href=""> <span   uk-icon="twitter" class="twitter"></span><span>twitter</span></a></li>
               <li class=" "><a href=""> <span   uk-icon="instagram" class="instagram"></span><span>instagram</span></a></li>
               <li class=" "><a href=""> <span   uk-icon="youtube" class="youtube"></span><span>youtube</span></a></li>
               <li class=" "><a href=""> <span   uk-icon="tumblr" class="tumblr"></span><span>tumblr</span></a></li>
               <li class=" "><a href=""> <span   uk-icon="pinterest" class="pinterest"></span><span>pinterest</span></a></li>

            </ul>
        </div>

    </div>


</footer>
<footer id="mini-footer">
    <p>Powered by <a href="" style="color: #ff6268"> Next Nepal</a></p>
</footer>
<!-- login-modal -->
{% include 'login-modal.njk' %}
