<section id="get_quote">
    <div class="container pt-5">
        <!-- first row -->
        <div class="row">
            <!-- left section is for the image-->
            <div class="col-md-6 left-section">
                <div class="image-field">
                    <figure><img src="images/car.svg" alt=""></figure>
                </div>
            </div>
            <!-- right section for the form -->
            <div class="col-md-6 right-section">
                <div class="heading">
                    <h3>
                        <strong>Free quote</strong> from top insurers with <strong>lowest premiums </strong> in
                        <span><strong> 30 seconds</strong></span>
                    </h3>
                </div>
                <div class="form-section">
                    <div class="form-field mb-5">
                        <form action="">
                            <input type="text" class="uk-input" placeholder="Enter Your Car Number">
                            <a href="companies.html" class="button-primary d-block text-center mb-3 w-100">
                                get a quote
                            </a>
                        </form>
                    </div>
                    <div class="divider position-relative border-bottom my-3">

                    </div>
                    <div class="d-block m-auto pt-5 text-center">
                        <a href="collect-detail.html " type="button" class="button-primary-outline">
                            proceed without car no.
                        </a>
                    </div>
                    <div class="have-brand-new d-block m-auto pt-3 text-center">
                        <a>I have a brand new.</a>
                    </div>

                </div>
            </div>
        </div>
        <hr>
        <!-- second row is for the information -->
        <div class="row pb-5">
            <div class="best_plans">
                <div class="clearfix">
                    <div class="heading">
                        <h3 class="font-weight-bold p-2">Best Car Insurance Plans</h3></div>
                </div>
                <div class="plans_list d-flex flex-wrap align-items-center  ">
                    <div class="products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-money"></i>
                        </figure>
                        <div>
                       <p> <strong>Save upto 20%</strong></p>
                           <p>low car premium</p>
                        </div>
                    </div>
                    <div class=" products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-doctor"></i>
                        </figure>
                        <div>
                            <p> <strong>Save upto 20%</strong></p>
                            <p>low car premium</p>
                        </div>
                    </div>
                    <div class=" products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-investigator"></i>
                        </figure>
                        <div>
                            <p> <strong>Save upto 20%</strong></p>
                            <p>low car premium</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</section>