<section id="get_quote">
    <div class="container pt-5">
        <!-- first row -->
        <div class="row align-items-center">
            <!-- left section is for the image-->
            <div class="col-md-6 left-section">
                <div class="image-field">
                    <figure><img src="images/group.svg" alt=""></figure>
                </div>
            </div>
            <!-- right section for the form -->
            <div class="col-md-6 right-section">
                <div class="heading">
                    <h3>
                        <strong>One-stop destination</strong> for all your <strong>online insurance </strong> and
                        <span><strong> financial needs</strong></span>
                    </h3>
                </div>
                <div class="form-section">
                    <div class="form-field mb-5">
                        <div class="first-level">
                        <form action="" class="uk-form-horizontal">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-company">Company Name</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-company" type="text" placeholder="company name..." style="height: 40px">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-contact">Contact Person </label>
                                <div class="uk-form-controls d-flex align-items-center">
                                    <select name="" id="" class="uk-select w-25  ">
                                        <option value="">Mr</option>
                                        <option value="">Ms</option>
                                        <option value="">Mrs</option>
                                    </select>
                                    <input class="uk-input w-75" id="form-stacked-contact" type="text" placeholder="contact-person..." style="height: 40px">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-mobile-no"> Mobile No.</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-mobile-no" type="number" placeholder="enter a mobile..." style="height: 40px">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-emailID">Email</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-emailID" type="email" placeholder="enter a email..." style="height: 40px">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-city">City</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-city" type="text" placeholder="city name..." style="height: 40px">
                                </div>
                            </div>
                            <a href="javascript:void(0)" type="button" class="button-primary d-block text-center mb-3 w-100 go-to-second">
                                get a quote
                            </a>
                        </form>
                        </div>
                        <div class="second-level" style="display: none">
                            <form action="" class="uk-form-horizontal">
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-sum">Sum Insured</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-stacked-sum" type="text" placeholder="sum insured per employee..." style="height: 40px">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-enum">Number of Employee </label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-stacked-enum" type="number" placeholder="employee number..." style="height: 40px">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-coverage">Coverage Type</label>
                                    <div class="uk-form-controls">
                                        <select name="" id="" class="uk-select">
                                            <option value="">Only Employee</option>
                                            <option value=""> Employee + spouse + 2 kids (upto 21yrs)</option>
                                            <option value="">Employee + Spouse + 2 kids + 2 parent</option>
                                        </select>
                                    </div>
                                </div>
                                <a href="group-companies.html" class="button-primary d-block text-center mb-3 w-100">
                                    Proceed
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- second row is for the information -->
        <div class="row pb-5">
            <div class="best_plans">
                <div class="clearfix">
                    <div class="heading">
                        <h3 class="font-weight-bold p-2">Best Car Insurance Plans</h3></div>
                </div>
                <div class="plans_list d-flex flex-wrap align-items-center  ">
                    <div class="products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-money"></i>
                        </figure>
                        <div>
                            <p> <strong>Save upto 20%</strong></p>
                            <p>low car premium</p>
                        </div>
                    </div>
                    <div class=" products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-doctor"></i>
                        </figure>
                        <div>
                            <p> <strong>Save upto 20%</strong></p>
                            <p>low car premium</p>
                        </div>
                    </div>
                    <div class=" products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-investigator"></i>
                        </figure>
                        <div>
                            <p> <strong>Save upto 20%</strong></p>
                            <p>low car premium</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</section>