<section id="get_quote">
    <div class="container pt-5">
        <!-- first row -->
        <div class="row align-items-center">
            <!-- left section is for the image-->
            <div class="col-md-6 left-section">
                <div class="image-field">
                    <figure><img src="images/health.svg" alt=""></figure>
                </div>
            </div>
            <!-- right section for the form -->
            <div class="col-md-6 right-section">
                <div class="heading">
                    <h3>
                        <strong>Free quote</strong> from top insurers with <strong>lowest premiums </strong> in
                        <span><strong> 4 Simple ways</strong></span>
                    </h3>
                </div>
                <div class="form_pagination ">
                    <ul>
                        <li data-tab="step_1" class="step_1 active"><span class="steps"><p>1</p></span></li>
                        <li data-tab="step_2" class="step_2"><span class="steps"><p>2</p><p></p></span></li>
                        <li data-tab="step_3" class="step_3"><span class="steps"><p>3</p></span></li>
                        <li data-tab="step_4" class="step_4"><span class="steps"><p>4</p></span></li>
                    </ul>
                </div>
                <div class="form-section">
                    <div class="form-field  mobile_number mb-5">
                        <form action="">
                            <input type="number" class="uk-input my-5" placeholder="Enter Your phone Number">
                            <div id="continue_form" class="button-primary d-block text-center mb-3 w-100">
                                continue
                            </div>
                        </form>
                    </div>
                    <div class="form-field  about_you mb-5 " style="display: none">
                        <form action="" class="">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">Name</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-horizontal-text" type="text"
                                           placeholder="Enter Name...">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">City</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-horizontal-text" type="text"
                                           placeholder="Enter your city...">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-form-label font-weight-bold d-inline-block mr-4">Select Your Gender</div>
                                <div class="uk-form-controls uk-form-controls-text d-flex align-items-center py-3">
                                    <label class="border mr-3 p-3"><input class="uk-radio mx-2" type="radio"
                                                                          name="radio1"> Male</label><br>
                                    <label class="border p-3"><input class="uk-radio mx-2" type="radio" name="radio1">Female</label>
                                </div>
                            </div>

                            <div id="continue_form-2" class="button-primary d-block text-center mb-3 w-100">
                                continue
                            </div>
                        </form>
                    </div>
                    <div class="form-field about_your_family mb-5 " style="display: none">
                        <form action="">

                            <div class="border p-3 mb-2 w-100">
                                <label><input class="uk-checkbox mr-2" type="checkbox" checked>Self</label>
                            </div>
                            <div class="border p-3 mb-2 w-100">
                                <label><input class="uk-checkbox mr-2" type="checkbox" checked>Spouse</label>
                            </div>

                            <div class="border p-3 mb-2 w-100">
                                <label><input class="uk-checkbox mr-2" type="checkbox" checked>Mother</label>
                            </div>
                            <div class="border p-3 mb-2 w-100">
                                <label><input class="uk-checkbox mr-2" type="checkbox" checked>Father</label>
                            </div>

                            <div class="border p-3 mb-2 w-100 son">
                                <label><input class="uk-checkbox mr-2" type="checkbox" checked>Son
                                    <input type="number" min="1" max="4" value="1">
                                </label>

                            </div>
                            <div class="border p-3 mb-2 w-100 daughter">
                                <label><input class="uk-checkbox mr-2" type="checkbox" checked>Daughter
                                    <input type="number" min="1" max="4" value="1">
                                </label>
                            </div>
                            <div id="continue_form-3" class="button-primary d-block text-center  my-3 w-100">
                                continue
                            </div>
                        </form>
                    </div>
                    <div class="form-field about_your_family_age mb-5 " style="display: none">
                        <form action="">

                            <div class="border p-3 mb-2">
                                <label class="d-flex align-items-center justify-content-between mb-0"><input class="uk-checkbox mr-2" type="checkbox" checked>Self
                                    <div class="ml-5">
                                        <div uk-form-custom="target: > * > span:first-child">
                                            <select>
                                                <option value="">Select age...</option>
                                                <option value="1">Option 01</option>
                                                <option value="2">Option 02</option>
                                                <option value="3">Option 03</option>
                                                <option value="4">Option 04</option>
                                            </select>
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                                <span></span>
                                                <span uk-icon="icon: chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="border p-3 mb-2">
                                <label class="d-flex align-items-center justify-content-between mb-0"><input class="uk-checkbox mr-2" type="checkbox" checked>Spouse
                                    <div class="ml-5">
                                        <div uk-form-custom="target: > * > span:first-child">
                                            <select>
                                                <option value="">Select age...</option>
                                                <option value="1">Option 01</option>
                                                <option value="2">Option 02</option>
                                                <option value="3">Option 03</option>
                                                <option value="4">Option 04</option>
                                            </select>
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                                <span></span>
                                                <span uk-icon="icon: chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                </label>
                            </div>

                            <div class="border p-3 mb-2">
                                <label class="d-flex align-items-center justify-content-between mb-0">
                                    <input class="uk-checkbox mr-2" type="checkbox" checked>Mother
                                    <div class="ml-5">
                                        <div uk-form-custom="target: > * > span:first-child">
                                            <select>
                                                <option value="">Select age...</option>
                                                <option value="1">Option 01</option>
                                                <option value="2">Option 02</option>
                                                <option value="3">Option 03</option>
                                                <option value="4">Option 04</option>
                                            </select>
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                                <span></span>
                                                <span uk-icon="icon: chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="border p-3 mb-2">
                                <label class="d-flex align-items-center justify-content-between mb-0"><input class="uk-checkbox mr-2" type="checkbox" checked>Father
                                    <div class="ml-5">
                                        <div uk-form-custom="target: > * > span:first-child">
                                            <select>
                                                <option value="">Select age...</option>
                                                <option value="1">Option 01</option>
                                                <option value="2">Option 02</option>
                                                <option value="3">Option 03</option>
                                                <option value="4">Option 04</option>
                                            </select>
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                                <span></span>
                                                <span uk-icon="icon: chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                </label>
                            </div>

                            <div class="border p-3 mb-2 son">
                                <label class="d-flex align-items-center justify-content-between mb-0"><input class="uk-checkbox mr-2" type="checkbox" checked>Son
                                    <div class="ml-5">
                                        <div uk-form-custom="target: > * > span:first-child">
                                            <select>
                                                <option value="">Select age...</option>
                                                <option value="1">Option 01</option>
                                                <option value="2">Option 02</option>
                                                <option value="3">Option 03</option>
                                                <option value="4">Option 04</option>
                                            </select>
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                                <span></span>
                                                <span uk-icon="icon: chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                </label>

                            </div>
                            <div class="border p-3 mb-2 daughter">
                                <label class="d-flex align-items-center justify-content-between mb-0"><input class="uk-checkbox mr-2" type="checkbox" checked>Daughter
                                    <div class="ml-5">
                                        <div uk-form-custom="target: > * > span:first-child">
                                            <select>
                                                <option value="">Select age...</option>
                                                <option value="1">Option 01</option>
                                                <option value="2">Option 02</option>
                                                <option value="3">Option 03</option>
                                                <option value="4">Option 04</option>
                                            </select>
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                                <span></span>
                                                <span uk-icon="icon: chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <a href="health-companies.html" class="button-primary d-block text-center  my-3 w-100">
                                continue
                            </a>
                        </form>
                    </div>


                </div>
            </div>
        </div>
        <hr>
        <!-- second row is for the information -->
        <div class="row pb-5">
            <div class="best_plans">
                <div class="clearfix">
                    <div class="heading">
                        <h3 class="font-weight-bold p-2">Best Car Insurance Plans</h3></div>
                </div>
                <div class="plans_list d-flex flex-wrap align-items-center  ">
                    <div class="products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-money"></i>
                        </figure>
                        <div>
                            <p><strong>Save upto 20%</strong></p>
                            <p>low car premium</p>
                        </div>
                    </div>
                    <div class=" products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-doctor"></i>
                        </figure>
                        <div>
                            <p><strong>Save upto 20%</strong></p>
                            <p>low car premium</p>
                        </div>
                    </div>
                    <div class=" products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-investigator"></i>
                        </figure>
                        <div>
                            <p><strong>Save upto 20%</strong></p>
                            <p>low car premium</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</section>