<section id="get_quote">
    <div class="container pt-5">
        <!-- first row -->
        <div class="row align-items-center">
            <!-- left section is for the image-->
            <div class="col-md-6 left-section">
                <div class="image-field">
                    <figure><img src="images/home.svg" alt=""></figure>
                </div>
            </div>
            <!-- right section for the form -->
            <div class="col-md-6 right-section">
                <div class="heading">
                    <h3>
                        <strong>Free quote</strong> from top insurers with <strong>lowest premiums </strong> in
                        <span><strong> 30 seconds</strong></span>
                    </h3>
                </div>
                <div class="form-section">
                    <div class="first-level">
                    <div class="form-tabs">
                        <ul class="nav nav-pills justify-content-center pb-2 border-bottom mb-3" id="form-Tab" role="tablist">
                            <li class="nav-item">
                                <a class="button-primary-outline active" id="own-tab" data-toggle="tab" href="#own" role="tab" aria-controls="own" aria-selected="true">Owned</a>
                            </li>
                            <li class="nav-item">
                                <a class="button-primary-outline" id="rent-tab" data-toggle="tab" href="#rent" role="tab" aria-controls="rent" aria-selected="false">Rented</a>
                            </li>

                        </ul>

                    </div>
                    <div class="form-field mb-5">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="own" role="tabpanel" aria-labelledby="own-tab">
                                <div class="text-center p-3">
                                    <h3>Property You Owned</h3>
                                </div>
                                <form action="" class="uk-form-horizontal">


                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-select">Type Of property</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select" id="form-stacked-select">
                                                <option>
                                                    flat
                                                </option>
                                                <option>independent house</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-text">Value of Property</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-stacked-text" type="number" placeholder="value of the building..." style="height: 40px">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-select">Property Age</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select" id="form-stacked-select">
                                                <option>Option 01</option>
                                                <option>Option 02</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-select">Policy Term</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select" id="form-stacked-select">
                                                <option>Option 01</option>
                                                <option>Option 02</option>
                                            </select>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" type="button" class="button-primary d-block text-center mb-3 w-100 go-to-second">
                                        Proceed
                                    </a>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="rent" role="tabpanel" aria-labelledby="rent-tab">
                                <div class="text-center p-3">
                                    <h3>Property You Rented</h3>
                                </div>
                                <form action="" class="uk-form-horizontal">


                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-select">Type Of property</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select" id="form-stacked-select">
                                                <option>
                                                    flat
                                                </option>
                                                <option>independent house</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-text">Value of Property</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-stacked-text" type="number" placeholder="value of the building..." style="height: 40px">
                                        </div>
                                    </div>

                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-select">Policy Term</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select" id="form-stacked-select">
                                                <option> 01</option>
                                                <option> 02</option>
                                            </select>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" type="button" class="button-primary d-block text-center mb-3 w-100 go-to-second">
                                        Proceed
                                    </a>
                                </form>
                            </div>

                        </div>

                    </div>
                    </div>
                    <div class="second-level" style="display: none">
                        <div class="form-user">
                            <form action="" class="uk-form-horizontal">
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">Type Your Name</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="enter a name..." style="height: 40px">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">Type Your Mobile No.</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-stacked-text" type="number" placeholder="enter a mobile..." style="height: 40px">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">Type Your Email</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-stacked-text" type="email" placeholder="enter a email..." style="height: 40px">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-select">Property Age</label>
                                    <div class="uk-form-controls">
                                        <select class="uk-select" id="form-stacked-select">
                                            <option>Option 01</option>
                                            <option>Option 02</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-select">Policy Term</label>
                                    <div class="uk-form-controls">
                                        <select class="uk-select" id="form-stacked-select">
                                            <option>Option 01</option>
                                            <option>Option 02</option>
                                        </select>
                                    </div>
                                </div>
                                <a href="home-companies.html" class="button-primary d-block text-center mb-3 w-100">
                                    Proceed
                                </a>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr>
        <!-- second row is for the information -->
        <div class="row pb-5">
            <div class="best_plans">
                <div class="clearfix">
                    <div class="heading">
                        <h3 class="font-weight-bold p-2">Best Home Insurance Plans</h3></div>
                </div>
                <div class="plans_list d-flex flex-wrap align-items-center  ">
                    <div class="products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-money"></i>
                        </figure>
                        <div>
                            <p> <strong>Save upto 20%</strong></p>
                            <p>low  premium</p>
                        </div>
                    </div>
                    <div class=" products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-doctor"></i>
                        </figure>
                        <div>
                            <p> <strong>Save upto 20%</strong></p>
                            <p>low  premium</p>
                        </div>
                    </div>
                    <div class=" products d-flex align-items-center ">
                        <figure>
                            <i class="icofont-investigator"></i>
                        </figure>
                        <div>
                            <p> <strong>Save upto 20%</strong></p>
                            <p>low  premium</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</section>