<section id="information">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-8 left-section">
                <nav>
                    <div class="nav nav-tabs flex-nowrap " id="nav-tab" role="tablist" >
                        <a class="nav-item nav-link font-weight-bold p-4  mr-3 active" id="about_insurance-tab" data-toggle="tab" href="#about_insurance" role="tab" aria-controls="about_insurance" aria-selected="true">About Insurance</a>
                        <a class="nav-item nav-link font-weight-bold p-4  mr-3" id="best_insurance-tab" data-toggle="tab" href="#best_insurance" role="tab" aria-controls="about_insurance" aria-selected="false">Best Insurance</a>
                        <a class="nav-item nav-link font-weight-bold p-4  mr-3" id="FAQ-tab" data-toggle="tab" href="#FAQ" role="tab" aria-controls="about_insurance" aria-selected="false">FAQ's</a>
                        <a class="nav-item nav-link font-weight-bold p-4  mr-3" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="about_insurance" aria-selected="false">Client's Reviews</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane pt-3  fade show active" id="about_insurance" role="tabpanel" aria-labelledby="nav-home-tab">
                        <h3 class="py-3"> <strong> Car Insurance</strong></h3>
                    <p>Car Insurance is a contract between the insurance company and insured that safeguards the policyholder against financial loss in case of theft or accident. A car insurance policy also offers coverage for damage or loss caused to your car.</p>
                    <p><img style="margin: 10px; float: right;" src="https://www.policybazaar.com/images/Health/car-insurance-types.jpg" alt="Car Insurance Types" width="380" height="480" /></p>
                    <p>It is mandatory to buy car insurance in India irrespective of the vehicle type, i.e. personal or commercial vehicle. Moreover, the premium amount of your car insurance is decided based on the Insured Declared Value or IDV of the vehicle. If you increase the IDV, the premium rises and if you lower it, the premium reduces.</p>
                    <p>It is important for any policyholder to compare various car insurance options before going for car insurance renewal or buying a new policy. Compare various insurance plans online on Policybazaar and buy the one that fulfills your insurance expectations hassle-free:</p>
                    <ul class="data_ul">
                        <li>Get the best plans from top Insurance Providers</li>
                        <li>Instant and paperless renewal</li>
                        <li>Comprehensive coverage for vehicle</li>
                        <li>A wide range of Add-on covers for improved protection</li>
                    </ul>
                    <h3><strong>Types of Car Insurance in India</strong></h3>
                    <p>There are primarily 2 types of Car Insurance that are available in India -</p>
                    <div class="icon-div">
                        <h3  style="width: auto; display: inline-block;"><strong>Third Party Car Insurance </strong></h3>
                    </div>
                    <p><a href="https://www.policybazaar.com//motor-insurance/third-party-insurance/">Third party car insurance</a> safeguards you from any legal liability due to your own car’s involvement in an accident. Your insurance provider will compensate you for death, disability, injury, or property damage to any third-party. Therefore, you are protected from the financial liability towards the third-party.</p>
                    <p>Third-party Liability Car Insurance is a mandate in India under the Motor Vehicles Act, 1988.</p>
                    <h3 class="py-3"><strong>Comprehensive Car Insurance</strong></h3>
                    <p>A comprehensive car insurance policy provides coverage for third party liability as well as damages caused to your own car. In comparison with third party liability car insurance, a comprehensive car insurance policy offers extensive coverage, more benefits and covers the damages caused to the insured car in case of an accident, collision, theft, etc.</p>
                    <p>A comprehensive policy can be further extended by opting for add-ons like accessories cover, engine protector, zero depreciation cover, medical expenses, etc. This type of coverage is the most popular as it offers end-to-end coverage and thus less stress for the policyholder.</p>
                    <p><a href="https://www.policybazaar.com/motor-insurance/car-insurance/articles/what-does-car-insurance-cover/">Get More Info on Car Insurance Coverage</a></p>
                    <h3 class="py-3">What is Covered Under Car Insurance?</h3>
                    <p><strong>The car insurance covers</strong></p>
                    <ul class="data_ul">
                        <li>Loss or damage to the insured vehicle.</li>
                        <li>Loss or damage to your vehicle caused by accident, theft, fire, explosion, self-ignition, lightning, riots, strikes or act of terrorism, natural calamities.</li>
                        <li>Financial liability caused by the injury/death of a third party or damage to the property.</li>
                        <li>Personal accidental insurance cover.</li>
                    </ul>
                    <h3>What is not Covered in a Car Insurance Policy?</h3>
                    <p><strong>Following features are usually not covered in car insurance:</strong></p>
                    <ul class="data_ul">
                        <li>Loss or damage if a policy is not in force.</li>
                        <li>Gradual wear and tear of car and its parts.</li>
                        <li>Loss or damage to the vehicle when driven by a person without a valid driving license.</li>
                        <li>Loss or damage to the vehicle as a result of intoxication due to drugs, alcohol etc.</li>
                        <li>Loss or damage to the engine as a result of oil leakage.</li>
                        <li>Loss or damage to the vehicle as a result of abuse of car manufacturer's guidelines.</li>
                    </ul>
                    <h3><strong>Best Car Insurance Companies with Claim Settlement Ratio 2018</strong></h3>

                    </div>
                    <div class="tab-pane pt-3  fade" id="best_insurance" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <p>Looking for car insurance comparison? PolicyBazaar provides you an innovative interface to compare car insurance policies by best car insurers in India. Check out details on each insurer and select the one that suits your needs. </p>
                    </div>
                    <div class="tab-pane pt-3  fade" id="FAQ" role="tabpanel" aria-labelledby="nav-faq-tab">
                        <div class="faq">
                        <ul uk-accordion="multiple: true">
                            <li class="uk-open">
                                <a class="uk-accordion-title font-weight-bold mt-3" href="#">What is IDV (insured declared value) in Car Insurance?</a>
                                <div class="uk-accordion-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                            </li>

                            <li>
                                <a class="uk-accordion-title font-weight-bold mt-3" href="#">What is voluntary deductible in Car Insurance?</a>
                                <div class="uk-accordion-content">
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                                </div>
                            </li>

                            <li>
                                <a class="uk-accordion-title font-weight-bold mt-3" href="#">Why should one have a comprehensive car insurance policy when law mandates insurance only for 3rd party injury, death or property loss?</a>
                                <div class="uk-accordion-content">
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                                </div>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="tab-pane pt-3  fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                     <div class="d-flex align-items-center py-3"><p>
                             Do you want to write a review?
                         </p>
                         <button id="write-review" class="button-primary ml-3">
                             click here
                         </button>

                     </div>
                        <div class="write_review" style="display: none">
                           <form class="uk-grid-small mb-5" uk-grid>
                                <div class="heading uk-width-1-1" >
                                    <h3 class="font-weight-bold">
                                        Write a review
                                    </h3>
                                </div>
                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin mb-3">
                                       <label class="uk-form-label" for="form-horizontal-text">Name</label>
                                       <div class="uk-form-controls">
                                           <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Enter your name">
                                       </div>
                                   </div>
                               </div>

                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin mb-3">
                                       <label class="uk-form-label" for="form-horizontal-text">Address</label>
                                       <div class="uk-form-controls">
                                           <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Address...">
                                       </div>
                                   </div>
                               </div>



                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin mb-3">
                                       <label class="uk-form-label" for="form-horizontal-select">Select Company</label>
                                       <div class="uk-form-controls">
                                           <select class="uk-select" id="form-horizontal-select">
                                               <option>Option 01</option>
                                               <option>Option 02</option>
                                           </select>
                                       </div>
                                   </div>
                               </div>
                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin mb-3">
                                       <label class="uk-form-label" for="form-horizontal-select">Select Product</label>
                                       <div class="uk-form-controls">
                                           <select class="uk-select" id="form-horizontal-select">
                                               <option>Option 01</option>
                                               <option>Option 02</option>
                                           </select>
                                       </div>
                                   </div>
                               </div>
                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin mb-3">
                                       <label class="uk-form-label" for="form-horizontal-text">Email</label>
                                       <div class="uk-form-controls">
                                           <input class="uk-input" id="form-horizontal-text" type="email" placeholder="Enter email address...">
                                       </div>
                                   </div>
                               </div>
                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin mb-3">
                                       <label class="uk-form-label" for="form-horizontal-text">Title for Review</label>
                                       <div class="uk-form-controls">
                                           <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Address...">
                                       </div>
                                   </div>
                               </div>
                               <div class="uk-width-1-1">
                                   <div class="uk-margin mb-3">
                                       <label class="uk-form-label" for="form-horizontal-text">Rate us</label>
                                       <div class="uk-form-controls">
                                            <fieldset class="rating">
                                       <input type="radio" id="star5" name="rating" value="5"/><label class="full"
                                                                                                      for="star5"
                                                                                                      title="Awesome - 5 stars"></label>
                                       <input type="radio" id="star4" name="rating" value="4"/><label class="full"
                                                                                                      for="star4"
                                                                                                      title="Pretty good - 4 stars"></label>

                                       <input type="radio" id="star3" name="rating" value="3"/><label class="full"
                                                                                                      for="star3"
                                                                                                      title="Meh - 3 stars"></label>

                                       <input type="radio" id="star2" name="rating" value="2"/><label class="full"
                                                                                                      for="star2"
                                                                                                      title="Kinda bad - 2 stars"></label>

                                       <input type="radio" id="star1" name="rating" value="1"/><label class="full"
                                                                                                      for="star1"
                                                                                                      title="Sucks big time - 1 star"></label>

                                   </fieldset>
                                       </div>
                                   </div>
                               </div>
                               <div class="uk-width-1-1">
                               <div class="uk-margin mb-3">
                                   <textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
                               </div>
                               </div>

                           </form>
                            <hr>
                       </div>
                        <div class="review-container" >
                            <h3 class="review-title">Reviews</h3>
                            <article class="reviews">
                                <figure class="user-image">
                                    <img src="https://yt3.ggpht.com/-lASduCKYbGI/AAAAAAAAAAI/AAAAAAAAAAA/bCSffOUUASk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"
                                         alt="">
                                </figure>
                                <div class="review-right">
                                    <span class="username"> Jhon Deo</span>&nbsp;<span
                                            class="published">2018/2/9</span>&nbsp;&nbsp;<span>stars</span>
                                    <p>lorem ipsum sumet is the inlu one that is very popular in webs
                                        designing to
                                        place
                                        a dumy text</p>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="reviews">
                                <figure class="user-image">
                                    <img src="https://yt3.ggpht.com/-lASduCKYbGI/AAAAAAAAAAI/AAAAAAAAAAA/bCSffOUUASk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"
                                         alt="">
                                </figure>
                                <div class="review-right">
                                    <span class="username"> Jhon Deo</span>&nbsp;<span
                                            class="published">2018/2/9</span>&nbsp;&nbsp;<span>stars</span>
                                    <p>lorem ipsum sumet is the inlu one that is very popular in webs
                                        designing to
                                        place
                                        a dumy text</p>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="reviews">
                                <figure class="user-image">
                                    <img src="https://yt3.ggpht.com/-lASduCKYbGI/AAAAAAAAAAI/AAAAAAAAAAA/bCSffOUUASk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"
                                         alt="">
                                </figure>
                                <div class="review-right">
                                    <span class="username"> Jhon Deo</span>&nbsp;<span
                                            class="published">2018/2/9</span>&nbsp;&nbsp;<span>stars</span>
                                    <p>lorem ipsum sumet is the inlu one that is very popular in webs
                                        designing to
                                        place
                                        a dumy text</p>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="reviews">
                                <figure class="user-image">
                                    <img src="https://yt3.ggpht.com/-lASduCKYbGI/AAAAAAAAAAI/AAAAAAAAAAA/bCSffOUUASk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"
                                         alt="">
                                </figure>
                                <div class="review-right">
                                    <span class="username"> Jhon Deo</span>&nbsp;<span
                                            class="published">2018/2/9</span>&nbsp;&nbsp;<span>stars</span>
                                    <p>lorem ipsum sumet is the inlu one that is very popular in webs
                                        designing to
                                        place
                                        a dumy text</p>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="reviews">
                                <figure class="user-image">
                                    <img src="https://yt3.ggpht.com/-lASduCKYbGI/AAAAAAAAAAI/AAAAAAAAAAA/bCSffOUUASk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"
                                         alt="">
                                </figure>
                                <div class="review-right">
                                    <span class="username"> Jhon Deo</span>&nbsp;<span
                                            class="published">2018/2/9</span>&nbsp;&nbsp;<span>stars</span>
                                    <p>lorem ipsum sumet is the inlu one that is very popular in webs
                                        designing to
                                        place
                                        a dumy text</p>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="reviews">
                                <figure class="user-image">
                                    <img src="https://yt3.ggpht.com/-lASduCKYbGI/AAAAAAAAAAI/AAAAAAAAAAA/bCSffOUUASk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"
                                         alt="">
                                </figure>
                                <div class="review-right">
                                    <span class="username"> Jhon Deo</span>&nbsp;<span
                                            class="published">2018/2/9</span>&nbsp;&nbsp;<span>stars</span>
                                    <p>lorem ipsum sumet is the inlu one that is very popular in webs
                                        designing to
                                        place
                                        a dumy text</p>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="reviews">
                                <figure class="user-image">
                                    <img src="https://yt3.ggpht.com/-lASduCKYbGI/AAAAAAAAAAI/AAAAAAAAAAA/bCSffOUUASk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"
                                         alt="">
                                </figure>
                                <div class="review-right">
                                    <span class="username"> Jhon Deo</span>&nbsp;<span
                                            class="published">2018/2/9</span>&nbsp;&nbsp;<span>stars</span>
                                    <p>lorem ipsum sumet is the inlu one that is very popular in webs
                                        designing to
                                        place
                                        a dumy text</p>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="reviews">
                                <figure class="user-image">
                                    <img src="https://yt3.ggpht.com/-lASduCKYbGI/AAAAAAAAAAI/AAAAAAAAAAA/bCSffOUUASk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"
                                         alt="">
                                </figure>
                                <div class="review-right">
                                    <span class="username"> Jhon Deo</span>&nbsp;<span
                                            class="published">2018/2/9</span>&nbsp;&nbsp;<span>stars</span>
                                    <p>lorem ipsum sumet is the inlu one that is very popular in webs
                                        designing to
                                        place
                                        a dumy text</p>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="reviews">
                                <figure class="user-image">
                                    <img src="https://yt3.ggpht.com/-lASduCKYbGI/AAAAAAAAAAI/AAAAAAAAAAA/bCSffOUUASk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"
                                         alt="">
                                </figure>
                                <div class="review-right">
                                    <span class="username"> Jhon Deo</span>&nbsp;<span
                                            class="published">2018/2/9</span>&nbsp;&nbsp;<span>stars</span>
                                    <p>lorem ipsum sumet is the inlu one that is very popular in webs
                                        designing to
                                        place
                                        a dumy text</p>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                            <article class="reviews">
                                <figure class="user-image">
                                    <img src="https://yt3.ggpht.com/-lASduCKYbGI/AAAAAAAAAAI/AAAAAAAAAAA/bCSffOUUASk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"
                                         alt="">
                                </figure>
                                <div class="review-right">
                                    <span class="username"> Jhon Deo</span>&nbsp;<span
                                            class="published">2018/2/9</span>&nbsp;&nbsp;<span>stars</span>
                                    <p>lorem ipsum sumet is the inlu one that is very popular in webs
                                        designing to
                                        place
                                        a dumy text</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                            </article>

                            <button class="button-primary show-more d-block m-auto text-center"> show more</button>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 right-section">
                <div class="insurers pb-5" style="background:#fff">
                    <div class="heading border-bottom">
                        <h3 class="font-weight-bold p-3">
                            Insurers
                        </h3>
                    </div>
                    <ul style="list-style: circle; padding-left: 30px;">
                        <li><a href="" class="d-block p-2 mb-1">company name</a></li>
                        <li><a href="" class="d-block p-2 mb-1">company name</a></li>
                        <li><a href="" class="d-block p-2 mb-1">company name</a></li>
                        <li><a href="" class="d-block p-2 mb-1">company name</a></li>
                        <li><a href="" class="d-block p-2 mb-1">company name</a></li>
                        <li><a href="" class="d-block p-2 mb-1">company name</a></li>
                        <li><a href="" class="d-block p-2 mb-1">company name</a></li>
                        <li><a href="" class="d-block p-2 mb-1">company name</a></li>
                        <li><a href="" class="d-block p-2 mb-1">company name</a></li>
                    </ul>
                </div>
                <div class="banner my-3 bg-white">
                    <figure><img src="images/LIC.png" alt=""></figure>
                </div>
                <div class="banner my-3 bg-white">
                    <figure><img src="images/shikar.png" alt=""></figure>
                </div>
                <div class="banner my-3 bg-white">
                    <figure><img src="images/nepallife.png" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>