<section class="why_us">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="products d-flex align-items-center ">
                <figure>
                    <i class="icofont-users-alt-4"></i>
                </figure>
                <p>Spouse Plan</p>
            </div>
            <div class=" products d-flex align-items-center ">
                <figure>
                    <i class="icofont-doctor"></i>
                </figure>
                <p>Health Insurance</p>
            </div>
            <div class=" products d-flex align-items-center ">
                <figure>
                    <i class="icofont-investigator"></i>
                </figure>
                <p>Investment</p>
            </div>
            <div class=" products d-flex align-items-center ">
                <figure>
                    <i class="icofont-building-alt"></i>
                </figure>
                <p>Home Insurance</p>
            </div>
            <div class=" products d-flex align-items-center ">
                <figure>
                    <i class="icofont-airplane"></i>
                </figure>
                <p>Travel Insurance</p>
           </div>
            <div class=" products d-flex align-items-center ">
                <figure>
                    <i class="icofont-car-alt-4"></i>
                </figure>
                <p>Car Insurance</p>
           </div>
            <div class=" products d-flex align-items-center ">
                <figure>
                    <i class="icofont-money"></i>
                </figure>
                <p>Tax Saving</p>
           </div>
            <div class=" dummy ">
                <div class="d-none"></div>
            </div>
            <div class=" dummy ">
                <div class="d-none"></div>
            </div>
            <div class=" dummy ">
                <div class="d-none"></div>
            </div>
            <div class=" dummy ">
                <div class="d-none"></div>
            </div>
            <div class=" dummy ">
                <div class="d-none"></div>
            </div><div class=" dummy ">
                <div class="d-none"></div>
            </div>

        </div>
    </div>
</section>