<section id="investment">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 ">
                <div class="filter-to-apply py-5" style="z-index: 980;" uk-sticky="bottom: true" >
                    <div class="amount_field_div mb-5">
                        <strong >Invested Amount
                            <select name="" id="">
                                <option value="1">Per Year</option>
                                <option value="2">Per Month</option>
                            </select>
                        </strong>
                        <div  class=" d-flex editField amount_field my-2">
                            <input type="text" class="uk-input"  placeholder="RS 5000" />
                        </div>
                        <div  class="save_btn mb-2">
                            <button class=" button-primary-outline float-right" >ok</button>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-select"><strong>Pay Term</strong></label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-stacked-select">
                                <option>5 years</option>
                                <option>7 years</option>
                                <option>9 years</option>
                                <option>10 years</option>
                                <option>15 years</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text"><strong>Policy Term</strong></label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="20Years">
                        </div>
                    </div>

                </div>
            </div>
            <div class=" col-lg-7 col-md-9 col-sm-8">
                <div class="list-of-plans my-5">

                    <div class="quote-tile border p-2 light-bg mb-3">
                        <div class="quote-tile-inner d-flex justify-content-between align-items-center py-2 ">
                           <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                <input type="checkbox" class="uk-checkbox">
                            </div>
                            <div class="logo-image">
                                <img class="" src="images/29.png" alt="">

                            </div>

                            <div class="plan-amount-section">
                                <div class="text-center">
                                    <strong><span>Rs</span> 19 lakhs</strong>
                                    <div><p>Get Monthly Income of
                                            4.59 K from 12th year </p></div>
                                </div>
                            </div>

                            <div class="details-section">

                                <a href="buy_insurance.html" class="button-primary"> Get Details <i class="icofont-thin-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="quote-tile border p-2 light-bg mb-3">
                        <div class="quote-tile-inner d-flex justify-content-between align-items-center py-2">
                            <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                <input type="checkbox" class="uk-checkbox">
                            </div>
                            <div class="logo-image">
                                <img class="" src="images/29.png" alt="">

                            </div>
                            <div class="plan-amount-section">
                                <div class="text-center">
                                    <strong><span>Rs</span> 19 lakhs</strong>
                                    <div><p>Get Monthly Income of
                                            4.59 K from 12th year </p></div>
                                </div>
                            </div>

                            <div class="details-section">

                                <button class="button-primary"> Get Details <i class="icofont-thin-right"></i></button>

                            </div>
                        </div>
                    </div>
                    <div class="quote-tile border p-2 light-bg mb-3">
                        <div class="quote-tile-inner d-flex justify-content-between align-items-center py-2">
                            <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                <input type="checkbox" class="uk-checkbox">
                            </div>
                            <div class="logo-image">
                                <img class="" src="images/29.png" alt="">

                            </div>
                            <div class="plan-amount-section">
                                <div class="text-center">
                                    <strong><span>Rs</span> 19 lakhs</strong>
                                    <div><p>Get Monthly Income of
                                            4.59 K from 12th year </p></div>
                                </div>
                            </div>

                            <div class="details-section">

                                <a href="buy_insurance.html" class="button-primary"> Get Details <i class="icofont-thin-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="quote-tile border p-2 light-bg mb-3">
                        <div class="quote-tile-inner d-flex justify-content-between align-items-center py-2">
                            <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                <input type="checkbox" class="uk-checkbox">
                            </div>
                            <div class="logo-image">
                                <img class="" src="images/29.png" alt="">

                            </div>
                            <div class="plan-amount-section">
                                <div class="text-center">
                                    <strong><span>Rs</span> 19 lakhs</strong>
                                    <div><p>Get Monthly Income of
                                            4.59 K from 12th year </p></div>
                                </div>
                            </div>

                            <div class="details-section">

                                <a href="buy_insurance.html" class="button-primary"> Get Details <i class="icofont-thin-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="quote-tile border p-2 light-bg mb-3">
                        <div class="quote-tile-inner d-flex justify-content-between align-items-center py-2">
                            <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                <input type="checkbox" class="uk-checkbox">
                            </div>
                            <div class="logo-image">
                                <img class="" src="images/29.png" alt="">

                            </div>
                            <div class="plan-amount-section">
                                <div class="text-center">
                                    <strong><span>Rs</span> 19 lakhs</strong>
                                    <div><p>Get Monthly Income of
                                            4.59 K from 12th year </p></div>
                                </div>
                            </div>

                            <div class="details-section">

                                <a href="buy_insurance.html" class="button-primary"> Get Details <i class="icofont-thin-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="quote-tile border p-2 light-bg mb-3">
                        <div class="quote-tile-inner d-flex justify-content-between align-items-center py-2">
                            <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                <input type="checkbox" class="uk-checkbox">
                            </div>
                            <div class="logo-image">
                                <img class="" src="images/29.png" alt="">

                            </div>
                            <div class="plan-amount-section">
                                <div class="text-center">
                                    <strong><span>Rs</span> 19 lakhs</strong>
                                    <div><p>Get Monthly Income of
                                            4.59 K from 12th year </p></div>
                                </div>
                            </div>

                            <div class="details-section">

                                <a href="buy_insurance.html" class="button-primary"> Get Details <i class="icofont-thin-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="quote-tile border p-2 light-bg mb-3">
                        <div class="quote-tile-inner d-flex justify-content-between align-items-center py-2">
                            <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                <input type="checkbox" class="uk-checkbox">
                            </div>
                            <div class="logo-image">
                                <img class="" src="images/29.png" alt="">

                            </div>
                            <div class="plan-amount-section">
                                <div class="text-center">
                                    <strong><span>Rs</span> 19 lakhs</strong>
                                    <div><p>Get Monthly Income of
                                            4.59 K from 12th year </p></div>
                                </div>
                            </div>

                            <div class="details-section">

                                <a href="buy_insurance.html" class="button-primary"> Get Details <i class="icofont-thin-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="quote-tile border p-2 light-bg mb-3">
                        <div class="quote-tile-inner d-flex justify-content-between align-items-center py-2">
                            <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                <input type="checkbox" class="uk-checkbox">
                            </div>
                            <div class="logo-image">
                                <img class="" src="images/29.png" alt="">

                            </div>
                            <div class="plan-amount-section">
                                <div class="text-center">
                                    <strong><span>Rs</span> 19 lakhs</strong>
                                    <div><p>Get Monthly Income of
                                            4.59 K from 12th year </p></div>
                                </div>
                            </div>

                            <div class="details-section">

                                <a href="buy_insurance.html" class="button-primary"> Get Details <i class="icofont-thin-right"></i></a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-2 d-lg-block d-none"></div>

        </div>
    </div>
</section>