<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="login-modal">Login Now</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
             <div class="row align-items-center">
                 <div class="col-sm-6">
                     <div class="login-img">
                     <figure><img src="images/login.svg" alt=""></figure>
                     </div>
                 </div>
                 <div class="col-sm-6">
                     <div class="login-form">
                         <form action="">
                             <div class="login-first--page">

                                 <div class="uk-margin">
                                     <div class="uk-inline w-100  shadow-sm">
                                         <span class="uk-form-icon " uk-icon="icon:world"></span>
                                         <select class="uk-select pl-5  uk-form-large" >
                                             <option value="">Select Your Country</option>
                                             <option value="">Nepal</option>
                                             <option value="">China</option>
                                             <option value="">USA</option>
                                         </select>
                                     </div>
                                 </div>
                                 <div class="uk-margin">
                                     <div class="uk-inline w-100   shadow-sm">
                                         <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                                         <input class="uk-input uk-form-large pl-5" type="number" placeholder="Mobile number">
                                     </div>
                                 </div>
                                 <div class="uk-margin d-block ">
                                     <div class="button-primary text-center w-50 mx-auto" id="login-first">
                                         Proceed
                                     </div>
                                 </div>
                             </div>
                             <div class="login-second--page" style="display: none">
                                 <div class="uk-margin">
                                     <div class="uk-inline w-100   shadow-sm">
                                         <span class="uk-form-icon" uk-icon="icon: user"></span>
                                         <input class="uk-input uk-form-large pl-5" type="text" placeholder="Full Name">
                                     </div>
                                 </div>
                                 <div class="uk-margin">
                                     <div class="uk-inline w-100   shadow-sm">
                                         <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                         <input class="uk-input uk-form-large pl-5" type="email" placeholder="Email">
                                     </div>
                                 </div>
                                 <div class="uk-margin">
                                     <div class="uk-inline w-100   shadow-sm">
                                         <span class="uk-form-icon" uk-icon="icon: location"></span>
                                         <input class="uk-input uk-form-large pl-5" type="text" placeholder="Address">
                                     </div>
                                 </div>
                                 <div class="uk-margin">
                                     <a class="button-primary w-50 text-center mx-auto" href="dashboard.html" id="login-first">
                                         Sumbit
                                     </a>
                                 </div>
                             </div>

                         </form>
                     </div>
                 </div>
             </div>
            </div>
        </div>
    </div>
</div>
