<!-- mobile menu -->

<div class="mobile-navigation " style=" display: none;">
    <ul class=" ul-none d-flex flex-column">
        <li><a href="index.html" class="menu active">Home</a></li>
        <li><a href="servicepage.html" class="menu ">Services</a></li>
        <li><a href="aboutpage.html" class="menu">About</a></li>
        <li><a href="contactuspage.html" class="menu">Contact</a></li>
    </ul>
</div>



