<!-- service we provide service section -->
<section class="our_partner mb-5 ">
    <div class="container bg-white">
        <div class="row">
                <div class="heading d-block w-100 text-center">
                    <h2 class="font-weight-bold">Our partners</h2>
                    <h4 class="text-muted">Leading insurers for your financial freedom</h4>
                    <hr>
                </div>
            
            <div class="our_partner-list d-flex flex-wrap align-items-center justify-content-between ">
                <figure>
                    <img src="images/LIC.png" alt="">
                </figure>
                <figure>
                    <img src="images/nepallife.png" alt="">
                </figure>
                <figure>
                    <img src="images/shikar.png" alt="">
                </figure>
                <figure>
                    <img src="images/LIC.png" alt="">
                </figure>
                <figure>
                    <img src="images/nepallife.png" alt="">
                </figure>
                <figure>
                    <img src="images/shikar.png" alt="">
                </figure>
                <figure>
                    <img src="images/himalayan.jpg" alt="">
                </figure>
                <figure>
                    <img src="images/nepali.jpg" alt="">
                </figure>
                <figure>
                    <img src="images/himalayan.jpg" alt="">
                </figure>
                <figure>
                    <img src="images/nepali.jpg" alt="">
                </figure>
                <figure>
                    <img src="images/LIC.png" alt="">
                </figure>
                <figure>
                    <img src="images/nepallife.png" alt="">
                </figure>
                <figure>
                    <img src="images/shikar.png" alt="">
                </figure>
                <figure>
                    <img src="images/himalayan.jpg" alt="">
                </figure>
                <figure>
                    <img src="images/nepali.jpg" alt="">
                </figure>
                <div class="dummy">
                    <!-- space managing section do not delete this dummy class -->
                </div>
                <div class="dummy"></div>
                <div class="dummy"></div>
                <div class="dummy"></div>

            </div>
            
        </div>
    </div>
</section>
<!-- end of the section -->