<!-- service we provide service section -->
<section class="our_services ">
    <div class="container bg-white">
        <div class="row">
            <div class="col-md-8 our_services-left">
                <div class="heading">
                    <h2>International Delivery</h2>
                </div>
                <div class="d-flex">
                    <div class="our_services-left--left">
                        <figure>
                            <img src="images/news-1.png" alt="">
                        </figure>
                    </div>
                    <div class="our_services-left--right">
                        <div class="title"><h3> International Express</h3></div>
                        <p>nternational Express is an international door-to-door solution for your time-sensitive goods.

                        </p>
                        <p>Our system is seamlessly integrated with our global logistic partners. Your shipments are
                            delivered to your customers’ doorstep by local fulfilment experts.

                        </p>
                        <p>Full tracking details are provided, and proof of delivery is available upon request.</p>

                    </div>
                </div>
                <hr>
                <div class="d-flex">
                    <div class="our_services-left--left">
                        <figure>
                            <img src="images/news-1.png" alt="">
                        </figure>
                    </div>
                    <div class="our_services-left--right">
                        <div class="title"><h3> International Express</h3></div>
                        <p>nternational Express is an international door-to-door solution for your time-sensitive goods.

                        </p>
                        <p>Our system is seamlessly integrated with our global logistic partners. Your shipments are
                            delivered to your customers’ doorstep by local fulfilment experts.

                        </p>
                        <p>Full tracking details are provided, and proof of delivery is available upon request.</p>

                    </div>
                </div>
                <hr>
                <div class="d-flex">
                    <div class="our_services-left--left">
                        <figure>
                            <img src="images/news-1.png" alt="">
                        </figure>
                    </div>
                    <div class="our_services-left--right">
                        <div class="title"><h3> International Express</h3></div>
                        <p>nternational Express is an international door-to-door solution for your time-sensitive goods.

                        </p>
                        <p>Our system is seamlessly integrated with our global logistic partners. Your shipments are
                            delivered to your customers’ doorstep by local fulfilment experts.

                        </p>
                        <p>Full tracking details are provided, and proof of delivery is available upon request.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 our_services-right">

                <div class="heading"><h2>Services</h2></div>
                <ul class="our_services-right--links">
                    <li><a href="#">
                            <figure><img src="images/serv1.png" alt=""></figure>
                            <span>International Delivery</span>

                        </a></li>
                    <li><a href="#">
                            <figure><img src="images/serv2.png" alt=""></figure>
                            <span>Inbound Express</span>
                        </a></li>
                    <li><a href="#">
                            <figure><img src="images/serv3.png" alt=""></figure>
                            <span>  Freight Forwarding</span>
                        </a></li>
                    <li><a href="#">
                            <figure><img src="images/serv4.png" alt=""></figure>
                            <span>Warehousing</span>
                        </a></li>
                    <li><a href="#" class="active">
                            <figure><img src="images/serv5.png" alt=""></figure>
                            <span> Drop Shipping</span>
                        </a></li>
                </ul>
                <div class="contact_us">
                    <div class="heading"><h2>Contact Us</h2></div>
                    <div class="contact_number">+88 0168 3661882</div>
                    <div class="contact_number">+88 0181 2013370</div>
                    <p>Lorem Ipsum is simply dummy text of the print-ing and typesetting industry. If you use this site
                        regularly and would like to help keep</p>
                    <a href="contactuspage.html" class="button_all">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of the section -->