<!-- project single or details -->
<div class="project-section">
    <div class="project-image"><img src="images/construction-2.jpg" class="img-fluid" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 ">
                <div class="project-information"><h3>Project Information</h3>
                    <ul>
                        <li><strong>Client:</strong> <a href="project-details">RRS Company</a></li>
                        <li><strong>Location:</strong> San Francisco</li>
                        <li><strong>Area(sf):</strong> 550,000 sf</li>
                        <li><strong>Year:</strong> 2019</li>
                        <li><strong>Budget:</strong> $245000000</li>
                        <li><strong>Architect:</strong> Scott &amp; Austin</li>
                        <li><strong>Sector:</strong> <a href="project-details">Tunnel</a>, <a href="project-details">Transport</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-12 p-5 bg-white ">
                <div class="project-details"><h2>Mountain Tunnel</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem veritatis quo et ullam,
                        ducimus itaque earum dolorem? Consectetur, et, aut. A, corporis officia eius dicta explicabo
                        saepe nesciunt, mollitia minima, atque maiores optio cum. Atque amet unde impedit voluptate
                        cumque distinctio minima, aspernatur nemo! Expedita in, numquam blanditiis ullam rem!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi cum fugit officia dolores
                        eligendi, rem. Quibusdam quasi impedit perspiciatis iure maiores, eaque numquam doloremque, quo
                        nam soluta itaque obcaecati tempore!.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ex, nam adipisci dolores laborum
                        earum. Unde cum, ut nostrum nihil alias, laudantium molestiae, vitae quidem dolorem officiis
                        ipsum. Aliquid nemo consequuntur cupiditate delectus sapiente doloribus dolorem, at suscipit,
                        non laudantium mollitia magnam repellat atque quia! Aut, veniam, nam. Ex porro optio facilis
                        nostrum, qui ipsa?</p></div>
            </div>

        </div>
    </div>
</div>
<hr>
<!--    FEATURED PRODUCTS    -->
<section class="featured-product">

    <div class="container  feature-product_top d-flex justify-content-between flex-wrap">
        <div class="feature-product_title">
            <div class="heading float-left">
                <h1>Featured <strong>Project</strong></h1>
            </div>
        </div>
        <div class="portfolio-menu">
            <ul>
                <li class="active" data-filter="*">All</li>
                <li data-filter=".land">Land</li>
                <li data-filter=".house">House</li>
                <li data-filter=".construction">Construction</li>
            </ul>
        </div>

    </div>
    <div class="portfolio-item scrollbar">
        <div class="item land">
            <div class="item_image" style="background-image: url('../images/slider-3.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item land">
            <div class="item_image" style="background-image:url('../images/slider-1.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item house">
            <div class="item_image" style="background-image: url('../images/feature-1.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item construction">
            <div class="item_image" style="background-image: url('../images/construction-2.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item house">
            <div class="item_image" style="background-image: url('../images/feature-2.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item land">
            <div class="item_image" style="background-image: url('../images/slider-2.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item construction">
            <div class="item_image" style="background-image: url('../images/construction-1.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item house">
            <div class="item_image" style="background-image: url('../images/feature-3.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item construction">
            <div class="item_image" style="background-image: url('../images/construction-2.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item house">
            <div class="item_image" style="background-image: url('../images/feature-2.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item land">
            <div class="item_image" style="background-image: url('../images/slider-2.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item construction">
            <div class="item_image" style="background-image: url('../images/construction-1.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item house">
            <div class="item_image" style="background-image: url('../images/feature-3.jpg');"></div>
            <div class="info">
                <div class="info-title">
                    wayman nor
                </div>
                <div class="info-location">
                    <i class="icofont-location-pin"></i>
                    <span>ktm city</span>
                </div>
                <div class="info-details">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor. Lorem ipsum dolor sit.
                </div>
                <div class="info-btn">
                    <a href="#"><i class="icofont-long-arrow-right icofont-2x"></i></a>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
    </div>

</section>