<!-- project list section -->

<section class="recent-news py-4">
    <div class="recent-news_wrapper container">
        <div class="row">
            <div class="recent-news_title">
                <div class="heading">
                    <h1>Projects <strong></strong></h1>
                </div>
                <div class="recent-new_title--details py-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eos explicabo fuga hic in labore
                    molestiae natus, nostrum quibusdam rerum?
                </div>
            </div>

        </div>

        <div class=" ">
            <div class="recent-news_cards row">
                <div class="col-md-4 col-sm-6">
                    <div class=" recent-news_cards--item card  ">
                        <figure class="card-img-top">
                            <img src="images/news-1.jpg" alt="Card image cap">
                        </figure>
                        <div class="card-body">
                            <div class="badges  d-flex line-clamp">
                                <div class="badge badge-danger my-3 ">Design</div>
                            </div>
                            <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Architecto facere praesentium quis?</h5>
                            {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                            {#the card's content.</p>#}
                            <div class="d-flex justify-content-between pt-2">
                                <a href="projectdetail.html" class="btn-red">Go somewhere</a>
                                <span class="text-muted">2019/6/24</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class=" recent-news_cards--item card ">
                        <figure class="card-img-top"><img src="images/news-1.png" alt="Card image cap">
                        </figure>
                        <div class="card-body">
                            <div class="badges  d-flex line-clamp">
                                <div class="badge badge-danger my-3 ">education</div>
                                <div class="badge badge-danger my-3 ml-2  ">consultancy</div>
                            </div>
                            <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Enim?</h5>
                            {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                            {#the card's content.</p>#}
                            <div class="d-flex justify-content-between pt-2">
                                <a href="projectdetail.html" class="btn-red">Go somewhere</a>
                                <span class="text-muted">2019/6/24</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class=" recent-news_cards--item card ">
                        <figure class="card-img-top"><img src="images/news-2.jpg" alt="Card image cap">
                        </figure>
                        <div class="card-body">
                            <div class="badges  d-flex line-clamp">
                                <div class="badge badge-danger my-3 ml-2 ">Business</div>
                            </div>
                            <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Cupiditate, necessitatibus?</h5>
                            {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                            {#the card's content.</p>#}

                            <div class="d-flex justify-content-between pt-2">
                                <a href="projectdetail.html" class="btn-red">Go somewhere</a>
                                <span class="text-muted">2019/6/24</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class=" recent-news_cards--item card ">
                        <figure class="card-img-top"><img src="images/news-3.jpg" alt="Card image cap">
                        </figure>
                        <div class="card-body">
                            <div class="badges  d-flex line-clamp">
                                <div class="badge badge-danger my-3 ml-2 ">Constrction</div>
                            </div>
                            <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Blanditiis labore laudantium sapiente!</h5>
                            {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                            {#the card's content.</p>#}

                            <div class="d-flex justify-content-between pt-2">
                                <a href="projectdetail.html" class="btn-red">Go somewhere</a>
                                <span class="text-muted">2019/6/24</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class=" recent-news_cards--item card ">
                        <figure class="card-img-top"><img src="images/news-1.png" alt="Card image cap">
                        </figure>
                        <div class="card-body">
                            <div class="badges  d-flex line-clamp">
                                <div class="badge badge-danger my-3 ">education</div>
                                <div class="badge badge-danger my-3 ml-2  ">consultancy</div>
                            </div>
                            <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Enim?</h5>
                            {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                            {#the card's content.</p>#}
                            <div class="d-flex justify-content-between pt-2">
                                <a href="projectdetail.html" class="btn-red">Go somewhere</a>
                                <span class="text-muted">2019/6/24</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class=" recent-news_cards--item card ">
                        <figure class="card-img-top"><img src="images/news-2.jpg" alt="Card image cap">
                        </figure>
                        <div class="card-body">
                            <div class="badges  d-flex line-clamp">
                                <div class="badge badge-danger my-3 ml-2 ">Business</div>
                            </div>
                            <h5 class="card-title line-clamp3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Cupiditate, necessitatibus?</h5>
                            {#<p class="card-text line-clamp3">Some quick example text to build on the card title and make up the bulk of#}
                            {#the card's content.</p>#}

                            <div class="d-flex justify-content-between pt-2">
                                <a href="projectdetail.html" class="btn-red">Go somewhere</a>
                                <span class="text-muted">2019/6/24</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- end project list section -->