<!--   SECTION PROPERTY LIST -->

<section class="property-list ">
    <div class="container">

        <div class="property-list_filter">
                <div class="property-list_filter--title">
                    <div class="heading">
                        <h3>Find Your Property</h3>
                    </div>
                </div>
            <form class="d-flex flex-wrap justify-content-center">


                <div class="mr-3 property-list_filter--location">
                    <div class=" heading location"><i class="icofont-location-pin"></i>location</div>
                    <select class="uk-select" >
                        <option>select a location</option>
                        <option>kathmandu</option>
                        <option>lalitpur</option>
                        <option>bhaktapur</option>
                    </select>
                </div>
                <div class="mr-3 property-list_filter--type">
                    <div class="type heading "><i class="icofont-sale-discount"></i>type</div>
                    <select class="uk-select">
                        <option>type</option>
                        <option>for sale</option>
                        <option>for rent</option>
                    </select>
                </div>
                <div class="mr-3 property-list_filter--bed">
                    <div class="bed heading "><i class="icofont-bed"></i>bed</div>
                    <select class="uk-select">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="mr-3 property-list_filter--bath">
                    <div class="bath heading "><i class="icofont-bathtub"></i>bath</div>
                    <select class="uk-select">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="mr-3 property-list_filter--status">
                    <div class="status heading "><i class="icofont-bars"></i>status</div>
                    <select class="uk-select">
                        <option>Available</option>
                        <option>Not availabel</option>
                    </select>
                </div>
                <div class="mr-3 property-list_filter--price">
                    <p>
                        <div class="heading  price"><i class="icofont-price"></i>Price range:</div>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </p>

                    <div id="slider-range"></div>
                </div>
                <div class="mt-4">

                <button type="submit" class="btn btn-red">Filter</button>
                </div>
            </form>
        </div>
        <div class="property-list_items py-5">
            <div class="row">
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="property-list_items--item">
                        <figure>
                            <a class="property-img" href="propertypage.html"><img src="images/feature-1.jpg" alt="property"></a>
                            <div class="property-price"><h3>$<span>8,600 </span>Per Month</h3></div>
                            <figcaption>

                                <div class="property_content">
                                    <div class="list-inline tag d-flex">
                                        <div class="badge sale">For sale</div>
                                        <div class="badge featured">Featured</div>
                                    </div>
                                    <div class="property_text">
                                        <h3 class="title"><a href="propertypage.html">Bright apartment</a></h3>
                                        <div class="location"><i class="icofont-location-pin"></i>45 Regent Street,
                                            London, UK
                                        </div>
                                    </div>
                                    <div class="property_meta">
                                        <span>4800 sq ft</span>
                                        <span>2 Office Rooms</span>
                                        <span>1 Bathroom</span>
                                    </div>
                                </div>
                            </figcaption>
                            <div class="overlay"></div>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="property-list_items--item">
                        <figure>
                            <a class="property-img" href="propertypage.html"><img src="images/feature-2.jpg" alt="property"></a>
                            <div class="property-price"><h3>$<span>8,600 </span>Per Month</h3></div>
                            <figcaption>

                                <div class="property_content">
                                    <div class="list-inline tag d-flex">
                                        <div class="badge sale">For sale</div>
                                        <div class="badge featured">Featured</div>
                                    </div>
                                    <div class="property_text">
                                        <h3 class="title"><a href="propertypage.html">Bright apartment</a></h3>
                                        <div class="location"><i class="icofont-location-pin"></i>45 Regent Street,
                                            London, UK
                                        </div>
                                    </div>
                                    <div class="property_meta">
                                        <span>4800 sq ft</span>
                                        <span>2 Office Rooms</span>
                                        <span>1 Bathroom</span>
                                    </div>
                                </div>
                            </figcaption>
                            <div class="overlay"></div>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="property-list_items--item">
                        <figure>
                            <a class="property-img" href="propertypage.html"><img src="images/feature-3.jpg" alt="property"></a>
                            <div class="property-price"><h3>$<span>8,600 </span>Per Month</h3></div>
                            <figcaption>

                                <div class="property_content">
                                    <div class="list-inline tag d-flex">
                                        <div class="badge sale">For sale</div>
                                        <div class="badge featured">Featured</div>
                                    </div>
                                    <div class="property_text">
                                        <h3 class="title"><a href="propertypage.html">Bright apartment</a></h3>
                                        <div class="location"><i class="icofont-location-pin"></i>45 Regent Street,
                                            London, UK
                                        </div>
                                    </div>
                                    <div class="property_meta">
                                        <span>4800 sq ft</span>
                                        <span>2 Office Rooms</span>
                                        <span>1 Bathroom</span>
                                    </div>
                                </div>
                            </figcaption>
                            <div class="overlay"></div>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>


<!-- END OF THE PROPERTY SECTION -->