<!-- section of the property  -->
<section class="property-single">
    <div class="property-image">
        <figure>
            <img src="images/property.jpg" alt="property">
        </figure>
    </div>

    <div class="container">
        <div class="property-single_wrapper">
            <!-- top row  -->
            <div class="row">


                <div class=" col-md-5 col-sm-12 text-area">
                    <h1 class="title">Park avenue apartment</h1>
                    <div class="property_content">
                        <h3 class="price">$<span>8,600 </span>Per Month</h3>
                        <ul class="d-flex tag">
                            <li class="badge sale">For sale</li>
                            <li class="badge featured">Featured</li>
                            <li class="badge rent">Rent</li>
                        </ul>
                        <div class="property_text">
                            <h4 class="location">45 Regent Street, London, UK</h4>
                        </div>
                        <div class="property_meta">
                            <span>4800 sq ft</span>
                            <span>2 Office Rooms</span>
                            <span>1 Bathroom</span>
                            <span>TV Lounge</span>
                            <span>1 Garage</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 property-single_wrapper--image_gallery">


                    <div class="image_gallery-img-content slider slider-content">
                        <div><img src="images/feature-1.jpg" alt="">
                        </div>
                        <div>
                            <img src="images/feature-2.jpg" alt="">
                        </div>
                        <div>
                            <img src="images/feature-3.jpg" alt="">
                        </div>
                        s
                        <div>
                            <img src="images/construction-1.jpg" alt="">
                        </div>
                    </div>

                    <div class="image_gallery-img-thumb slider slider-thumb">
                        <div>
                            <img src="images/feature-1.jpg" alt="">
                        </div>
                        <div>
                            <img src="images/feature-2.jpg" alt="">
                        </div>
                        <div>
                            <img src="images/feature-3.jpg" alt="">
                        </div>
                        <div>
                            <img src="images/construction-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- bottom row section -->
            <div class="row">
                <div class="text-area_details col-md-8 col-sm-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum facilis fugiat molestiae obcaecati sit
                    sunt temporibus tenetur veritatis voluptate voluptates. Ab ad adipisci commodi consequatur
                    doloremque est ex facere itaque iusto nulla possimus praesentium, saepe veritatis! Ad corporis
                    fugiat incidunt libero molestiae neque nobis provident quidem veniam vitae voluptatem, voluptates?
                </p>
                <blockquote>
                    <p>Suspendisse hendrerit et sapien ut pretium. Aenean nulla ipsum, facilisis eu porta non, rutrum sit amet nibh. Quisque id diam feugiat, pharetra arcu eget, bibendum tortor. </p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
                </div>
                <div class=" related-property col-md-4 col-sm-12">
                    <div class="related-property_title">
                        <div class="heading"><h3>
                                Related
                            </h3></div>
                    </div>
                    <div class="property-list_items--item">
                        <figure>
                            <a class="property-img" href="property.html"><img src="images/feature-1.jpg" alt="property"></a>
                            <div class="property-price"><h3>$<span>8,600 </span>Per Month</h3></div>
                            <figcaption>

                                <div class="property_content">
                                    <div class="list-inline tag d-flex">
                                        <div class="badge sale">For sale</div>
                                        <div class="badge featured">Featured</div>
                                        <div class="badge rent">Rent</div>
                                    </div>
                                    <div class="property_text">
                                        <h3 class="title"><a href="property.html">Bright apartment</a></h3>
                                        <div class="location"><i class="icofont-location-pin"></i>45 Regent Street,
                                            London, UK
                                        </div>
                                    </div>
                                    <div class="property_meta">
                                        <span>4800 sq ft</span>
                                        <span>2 Office Rooms</span>
                                        <span>1 Bathroom</span>
                                    </div>
                                </div>
                            </figcaption>
                            <div class="overlay"></div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of the property section -->