<!-- THE SERVICE SECTION -->
<section class="service-section bg-white">

    <div class="container service-section_wrapper">
        <div class="center">
            <div class="heading">
                <h1><strong>Service </strong>We</h1>
                <h1>Provide</h1>
            </div>
        </div>
        <div class="row align-items-center justify-content-center pb-5">
            <div class="s-width">
                <a href="">
                    <img src="images/iproducts_bg.png" class="iproducts_bg">
                    <img src="images/serv1.png" alt="" class="s-icon">
                    <strong> Ware housing</strong>
                </a>
            </div>
            <div class="s-width">
                <a href="">
                    <img src="images/iproducts_bg.png" class="iproducts_bg">
                    <img src="images/serv2.png" alt="" class="s-icon">
                    <strong> International Delivery</strong>
                </a></div>
            <div class="s-width">
                <a href="">
                    <img src="images/iproducts_bg.png" class="iproducts_bg">
                    <img src="images/serv3.png" alt="" class="s-icon">
                    <strong> Inbound Delivery</strong>
                </a>
            </div>
            <div class="s-width">
                <a href="">
                    <img src="images/iproducts_bg.png" class="iproducts_bg">
                    <img src="images/serv4.png" alt="" class="s-icon">
                    <strong> freight Forwarding</strong>
                </a>
            </div>
            <div class="s-width">
                <a href="">
                    <img src="images/iproducts_bg.png" class="iproducts_bg">
                    <img src="images/serv5.png" alt="" class="s-icon">
                    <strong> Drop Shipping</strong>
                </a>
            </div>

        </div>
    </div>

</section>
<!-- END OF THE SERVICE SECTION -->
<!-- About section -->
<section class="about-section">
    <div class="container">
        <div class="center">
            <div class="heading">

                <h1>About Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eveniet iusto modi quam? Iure,
                    molestiae, repudiandae. Aliquam assumenda delectus dolor dolorem doloremque iste itaque nostrum
                    officia, repellat, sapiente voluptas voluptatibus!</p>
            </div>
        </div>

    </div>
</section>


