<div class="sidebar " uk-sticky="bottom: true">
    <div class="">
        <ul class="sidebar-ul border-bottom">
            <li class="sidebar-li border">
                <a  href="dashboard.html" class="d-block p-3">
                    <i class="icofont-dashboard mr-2"></i> <span> Dashboard
                </span> </a>
            </li>
            <li class="sidebar-li border">
                <a href="my-policy.html" class="d-block p-3">
                    <i class="icofont-file-document mr-2"></i> <span>My Policies
                </span></a>
            </li>
            <li class="sidebar-li border">
                <a href="my-search.html" class="d-block p-3">
                    <i class="icofont-search mr-2"></i> <span>   My Search
                </span> </a>
            </li>
            <li class="sidebar-li border">
                <a href="query.html" class="d-block p-3">
                    <i class="icofont-info-circle mr-2"></i>
                   <span>  Help</span>
                </a>
            </li>
            <li class="sidebar-li border">
                <a href="user-vehicle.html" class="d-block p-3">
                    <i class="icofont-car-alt-1 mr-2"></i> <span> My Vechile
                    </span>
                </a>
            </li>
            <li class="sidebar-li border">
                <a href="user.html" class="d-block p-3">
                    <i class="icofont-user-alt-3 mr-2"></i> <span> My Profile
                </span> </a>
            </li>
            <li class="sidebar-li border ">
                <a href="claim.html" class="d-block p-3">
                    <i class="icofont-ui-folder mr-2"></i> <span> Claim
                </span> </a>
            </li>

        </ul>
    </div>
</div>