<section class="why_us">
    <div class="container">
        <div class="center">
            <div class="heading">
                <h1>Why Logistics Worldwide Express?</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6 col-12 d-flex align-items-center">
                <figure>
                    <img src="/images/why1.png" alt="service1" width="60" height="60">
                </figure>
                <p>We are the one stop solution to multiple shipping service options and destinations</p>
            </div>
            <div class="col-sm-6 col-12 d-flex align-items-center">
                <figure>
                    <img src="/images/why2.png" alt="service2" width="60" height="60">
                </figure>
                <p>We have a core team with years of experience in international deliveries solution</p>
            </div>
            <div class="col-sm-6 col-12 d-flex align-items-center">
                <figure>
                    <img src="/images/why3.png" alt="service1" width="60" height="60">
                </figure>
                <p>Our services cover more than 200 destinations in the world</p>
            </div>
            <div class="col-sm-6 col-12 d-flex align-items-center">
                <figure>
                    <img src="/images/why4.png" alt="service1" width="60" height="60">
                </figure>
                <p>We can customise and tailor our services to suit your needs</p>
            </div>
            <div class="col-sm-6 col-12 d-flex align-items-center">
                <figure>
                    <img src="/images/why5.png" alt="service1" width="60" height="60">
                </figure>
                <p>We have a presence across major cities in the Asia Pacific, with local expertise</p>
            </div>
        </div>
    </div>
</section>