@import "variables";

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:black;
  opacity: 0;
}

.line-clamp3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.facebook{
  background-color:$facebook;
  color: #ffffff;
}
.instagram{
  background:$instagram;
    color: #ffffff;
}
.google-plus{
  background-color:$googleplus;
    color: #ffffff;
}
.twitter{
  background-color:$twitter;
    color: #ffffff;
}
.youtube{
  background-color:$youtube;
  color: #ffffff;
}
.tumblr{
  background-color:$tumblr;
  color: #ffffff;
}
.pinterest{
  background-color:$pinterest;
  color: #ffffff;
}

.relative{
  position: relative;
}
.bold{
  font-weight: bold;
}
.light-bg{
  background:$primary-2;
}
.bg{
  background: $primary;
}
.color{
  color:$primary;
}
.br-1{
  border-right:2px solid #fff
}
.button-primary{
  border:1px solid $primary;
  padding: 10px 20px;
  background-color:$primary;
  color: white;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  transition: background 0.3s;
  background-position: center;
  &:hover{
    box-shadow: 0 1px 6px 1px rgba(32,33,36,0.28);
    background: darken($primary, 5%) radial-gradient(circle, transparent 1%, darken($primary, 5%) 1%) center/15000%;
  }

  &:active {
    background-color: darken($primary, 10%);
    background-size: 100%;
    transition: background 0s;
  }
}
a.button-primary:hover{
  color: white;
}
.button-primary-outline{
  border:1px solid $primary;
  padding: 10px 20px;
  background:white;
  color: $primary;
  cursor: pointer;
}
.button-secondary{
  border:1px solid $secondary;
  padding: 10px 20px;
  background:$secondary;
  color: white;
  cursor: pointer;
}
.button-primary-outilne{
  border:1px solid $secondary;
  padding: 10px 20px;
  background:white;
  color: $secondary;
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
.line-through{
  text-decoration: line-through;
  text-decoration-color: $secondary;
}

@media screen and (max-width: 575px) {
  h3{
    font-size: 1.2rem !important;
  }
}