{% include 'dash-top.njk' %}

    {% include 'header.njk' %}

<section id="detail-info">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="information  ">
                    <div class="information-form py-5">
                        <div class="heading text-center">
                            <h3>Read and select the check box</h3>
                        </div>

                        <div class=" shadow border p-5 ">
                            <form class="uk-form-stacked align-checkboxes">
                                <label>
                                    <input class="uk-checkbox" type="checkbox">
                                    <span>I/we understand that the Policy shall become void at the option of the Company,
                                        in the event of any untrue or incorrect statement, misrepresentation,
                                        non-description or non-disclosure of any material fact in the Proposal form/personal
                                        statement/As per details updated by you while buying the policy online, declaration and connected documents,
                                        or any material information having been withheld by me/us or anyone acting on my/our behalf.
                                    </span>
                                </label>
                                <label><input class="uk-checkbox" type="checkbox"> <span>Online payment is processed through
                                    Organization account or Corporate credit card only and the organization has
                                    authorized me to do so on its behalf.</span></label>
                                <label><input class="uk-checkbox" type="checkbox"> <span>I/we hereby confirm that all premiums
                                    have been/will be paid from bonafide sources and no premiums have been/will be paid
                                    out of proceeds of crime related to any of the offence listed in Prevention of Money
                                    Laundering Act, 2002 and applicable laws.
                                </span>
                                </label>
                                <label><input class="uk-checkbox" type="checkbox"><span> I/ We hereby declare, on my behalf
                                    and on behalf of all persons proposed to be insured, that the above statements,
                                    answers and / or particulars given by me are true and complete in all respects to
                                    the best of my knowledge and that I / We am / are authorized to propose on behalf of
                                    these other persons.
                                    </span>
                                </label>
                                <label><input class="uk-checkbox" type="checkbox"> <span>I/we understand that the Policyholder
                                    is buying the health insurance and/ or (as applicable) Policy for the first time. In
                                    case the information provided for the purchase of the policy is incorrect all quotes
                                    shared shall become void at the option of the Company. In this event the company has
                                    right to cancel the policy and forfeit the premium.</span></label>


                            </form>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="package-details">
                    <div class="p-2 shadow  light-bg mt-5">
                        <div class="text-center">
                            <div class="mobileView">
                                <div class="totalPremium">
                                    <div class="border-bottom py-3"><Strong>Total Premium</Strong></div>
                                    <div class="amount mb-3">
                                        <div class="monthly button-primary py-2">
                                            <span class="font-weight-bold" style="font-size:18px">5,000</span>
                                            <span>Monthly</span>
                                        </div>

                                        <div class="yearly border-bottom py-3">
                                            <span class="font-weight-bold">5,000*12</span>
                                            <span>Yearly</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="package-details-list">
                            <ul class="p-2 border-bottom mb-2">

                                <li>
                                    <label>
                                        Plan Name</label>
                                    <span>Goal Assure</span></li>
                                <li>
                                    <label>
                                        Policy Term</label><span>20 Years</span></li>
                                <li>
                                    <label>
                                        Pay Term</label><span>20 Years</span></li>
                                <li>
                                    <label>
                                        Smoking/tobacco</label><span></span></li>
                                <li>
                                    <label>
                                        Sum Assured
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        Amount Invested</label>
                                    <span><i class="fa fa-inr" aria-hidden="true"></i> 5,000</span>
                                </li>
                                <li>
                                    <label>
                                        Maturity Value @ 8%</label>
                                    <span><i class="fa fa-inr" aria-hidden="true"></i> 23,57,758</span>
                                </li>
                                <li>
                                    <label>Maturity Value @ 14.72 %</label>
                                    <span><i class="fa fa-inr" aria-hidden="true"></i> 55,02,015</span>
                                </li>
                                <li>
                                    <label> Cost of product</label><span id="lblProductCost">1.7 %</span></li>
                            </ul>
                            <div class="d-flex align-items-center justify-content-between">
                                <span style="font-size: 18px"> <strong>Click here to</strong></span>
                                <a href="one-step-checkout.html" type="submit" value="Proceed"
                                   class="d-block button-primary">Proceed </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.njk' %}

{% include 'dash-bottom.njk' %}