{% include 'dash-top.njk' %}

    {% include 'header.njk' %}

<section id="company_list">
    <div class="company_list py-5">
        <div class="sticky">
            <div class="container">
                <div class="stick-to-top">
                    <!-- first row is for the filter of the car -->
                    <div class="row align-items-center light-bg ">
                        <div class="col-sm-4 ">
                            <div class="d-flex align-items-center py-3">
                                <h5>Sum Insure</h5>
                                <select type="text" class="uk-select w-50 ml-3">
                                    <option value="">1 lakhs</option>
                                    <option value="">2 lakhs</option>
                                    <option value="">3 lakhs</option>
                                    <option value="">4 lakhs</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <div class="d-flex align-items-center py-3">
                                <h5>Select Members</h5>
                                <select type="text" class="uk-select w-50 ml-3">
                                    <option value="">Employee</option>
                                    <option value="">Employee+Spouse+2kids</option>
                                    <option value="">Employee+Spouse+2kids+2 Parent</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <div class="d-flex align-items-center py-3">
                                <h5>No. of Employee</h5>
                                <input type="text" class="uk-input" placeholder="no. of employee">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- third row for the list of the company -->
        <div class="container">
            <div class="row mt-2">
                <!-- col-8 column is for the company list -->
                <div class="col-md-8 px-0 ">
                    <div class="list-of-plans my-5">
                        <div class="quote-tile  mb-3">
                            <div class="quote-tile-inner shadow-sm d-flex justify-content-between align-items-center p-2">
                                <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                    <input type="checkbox" class="uk-checkbox">
                                </div>
                                <div class="logo-image ">
                                    <img class="" src="images/29.png" alt="">
                                </div>
                                <div class="addons-section ">
                                    <div class="quotes-zerodep-section">
                                        <div class="zeroDep">
                                            <div>Room Rent - Normal / ICU</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buy-now-section ">
                                    <div class="">

                                        <a href="buy-group-insurance.html">
                                            <button class="buy-now-btn">4,842</button>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quote-tile  mb-3">
                            <div class="quote-tile-inner shadow-sm d-flex justify-content-between align-items-center p-2">
                                <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                    <input type="checkbox" class="uk-checkbox">
                                </div>
                                <div class="logo-image ">
                                    <img class="" src="images/29.png" alt="">
                                </div>
                                <div class="addons-section ">
                                    <div class="quotes-zerodep-section">
                                        <div class="zeroDep">
                                            <div>Room Rent - Normal / ICU</div>
                                            <div>Ambulance Cover</div>
                                            <div>Maternity - Normal / C-Sec</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buy-now-section ">
                                    <div class="">

                                        <a href="buy-group-insurance.html">
                                            <button class="buy-now-btn">4,842</button>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quote-tile  mb-3">
                            <div class="quote-tile-inner shadow-sm d-flex justify-content-between align-items-center p-2">
                                <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                    <input type="checkbox" class="uk-checkbox">
                                </div>
                                <div class="logo-image ">
                                    <img class="" src="images/29.png" alt="">
                                </div>
                                <div class="addons-section ">
                                    <div class="quotes-zerodep-section">
                                        <div class="zeroDep">
                                            <div>Room Rent - Normal / ICU</div>
                                            <div>Ambulance Cover</div>
                                            <div>Maternity - Normal / C-Sec</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buy-now-section ">
                                    <div class="">
                                        <a href="buy-group-insurance.html">
                                            <button class="buy-now-btn">4,842</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quote-tile  mb-3">
                            <div class="quote-tile-inner shadow-sm d-flex justify-content-between align-items-center p-2">
                                <div data-toggle="tooltip" data-placement="right" title="click here to compare">
                                    <input type="checkbox" class="uk-checkbox">
                                </div>
                                <div class="logo-image ">
                                    <img class="" src="images/29.png" alt="">
                                </div>
                                <div class="addons-section ">
                                    <div class="quotes-zerodep-section">
                                        <div class="zeroDep">
                                            <div>Room Rent - Normal / ICU</div>
                                            <div>Ambulance Cover</div>
                                            <div>Maternity - Normal / C-Sec</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buy-now-section ">
                                    <div class="">

                                        <a href="buy-group-insurance.html">
                                            <button class="buy-now-btn">4,842</button>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col-4 is for the chat box  -->
                <div class="col-md-4">
                    <figure class="border p-3 " style="height: 380px;">
                        <img src="images/chat.svg" alt="" style=" height: 100%;">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.njk' %}

{% include 'dash-bottom.njk' %}