{% include 'dash-top.njk' %}

<!-- header section -->
    {% include 'header.njk' %}
<!-- end of the header section -->

<!-- slider section -->
    {% include 'slider.njk' %}
<!-- end of the slider -->
    {% include 'why-us.njk' %}
    {% include 'services.njk' %}

    {% include 'footer.njk' %}
    <a href="#" style="position: fixed; z-index:9999; background:#ccc; color: #000; bottom:10px; right: 10px;" uk-totop uk-scroll></a>

{% include 'dash-bottom.njk' %}